<section id="adminDetails">
<section class="mainBoard">
<div class="boardArea">
<div class="container-fluid">
  <div class="row marginZero topHeading">
    <div class="col-md-12">
      <h2>FIU ANALYST - DASHBOARD</h2>
      <p>Provides a snapshot of your open cases and alerts for review.</p>
    </div>
  </div>
  <div class="admincontent row displayFlex entityRow1">
   
      <admin-tabs>
        <admin-pane icon="glyphicon glyphicon-user" tab-title="User Management">
          <div class="admin-row1">
            <div class="searchBox">
              <div class="searchInput">
                <input type="text" placeholder="Search Cases, Name, Data etc">
                <i class="fa fa-search"></i> </div>
            </div>
            <div class="adminplus"><a href="" class="hideShowClass" ng-click="addNewPersonas($event)"><i class="fa fa-plus"></i></a></div>
          </div>
          
          
          <div class="tab-content">  Tab Content</div>
          
          
          
          <div class="row rowSec">
    <div class="col-md-12">
      <article class="sectionPadding">
        <header class="sectionHeading displayFlex">
          <h3 class="flex1 marginZero">Steve Jackson Profile</h3>
          <a href="javascript:void()" ng-click="slideToggleSec($event)" class="slideToggleSec"><i class="fa fa-chevron-up"></i></a> </header>
        <div class="toggleSec riskDnaGraph"> Tab1 </div>
      </article>
    </div>
  </div>
  
          <div class="row rowSec">
    <div class="col-md-12">
      <article class="sectionPadding">
        <header class="sectionHeading displayFlex">
          <h3 class="flex1 marginZero">Permissions</h3>
          <a href="javascript:void()" ng-click="slideToggleSec($event)" class="slideToggleSec"><i class="fa fa-chevron-up"></i></a> </header>
        <div class="toggleSec riskDnaGraph"> Tab1 </div>
      </article>
    </div>
  </div>
          
        </admin-pane>
        <admin-pane icon="fa fa-sitemap" tab-title="Roles"> 2 </admin-pane>
        <admin-pane icon="fa fa-users" tab-title="Groups"> 3 </admin-pane>
        <admin-pane icon="fa fa-briefcase" tab-title="Field Access Manager"> 4 </admin-pane>
        <admin-pane icon="glyphicon glyphicon-user" tab-title="User Management"> 5 </admin-pane>
      </admin-tabs>
   
  </div>
  
  
</div>
</section>
</section>
