<meta charset="utf-8">
<script src="../../../assets/js/d3.js"></script>
<script src="../../../assets/js/nv.d3.js"></script>
<script src="../../../assets/libs/angularjs/angular.js"></script>
<script src="../../../assets/js/script.js"></script>
<link href="../../../assets/css/nv.d3.css" rel="stylesheet" />
<!--<div id="dashboard" class="dashboard">-->
<div>
    <header>

        <div class="toggleBox">
            <span class="navToggle"><i class="fa fa-2x fa-bars"></i></span>
        </div>
        <div class="logoBox">

            <img src="../../../assets/img/db-logo.png" alt="rC" />
        </div>
        <div class="searchBox">
            <div class="searchInput">
                <input type="text" placeholder="Search Cases, Name, Data etc" />
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="userBox">
            <p><span>Eldar Burnashev</span><i>EB</i></p>
        </div>



    </header>
    <nav class="boardNav">
        <ul>
            <li>
                <a href="#0"><i class="fa fa-2x fa-tachometer"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-2x fa-bell"></i><span>Alerts</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-2x fa-television"></i><span>Cases</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-2x fa-tasks"></i><span>Tasks</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-2x fa-file-text-o"></i><span>Reporting</span><i class="fa fa-caret-down"></i></a>
                <!--
                                        <ul>
                                            <li>
                                                <a href="#0">Quality KPIs</a>
                                            </li>
                                            <li>
                                                <a href="#0">Portfolio Analytics</a>
                                            </li>
                                        </ul>
                -->
            </li>
            <li>
                <a href="#0"><i class="fa fa-2x fa-user"></i><span>Admin</span></a>
            </li>

        </ul>
    </nav>
    <section class="mainBoard">
        <div class="boardArea">

            <div class="container-fluid">
                <div class="row marginZero">
                    <div class="col-md-12">
                        <h2>MANAGER - DASHBOARD</h2>
                        <p>Provides a snapshot of your team’s assigned Items and productivity.</p>
                    </div>
                </div>
                <ul class="row marginZero Charts">
                    <li class="col-md-4"></li>
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Production Output past 30 days Bar chart</h2>

                            <nvd3-discrete-bar-chart data="productionData"
                                                     id="productionDataId"
                                                     tooltipcontent="toolTipContentFunction()"
                                                     Width="550"
                                                     height="200"
                                                     margin="{left:0,top:0,bottom:0,right:0}"
                                                     showlabels="true"
                                                     showValues="true"
                                                     showYAxis="true"
                                                     tooltips="true">
                                <svg></svg>
                            </nvd3-discrete-bar-chart>
                        </div>
                    </li>
                    <li class="col-md-4"></li>
                </ul>
                <!--
                                <div class="col-md-12">
                                    <div class="col-md-3">&nbsp;</div>
                                    <div class="col-md-6">
                                        <div class="cards">


                                        </div>
                                    </div>
                                    <div class="col-md-3">&nbsp;</div>
                                </div>
                -->

                <ul class="row marginZero Charts">
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Reviews by Status</h2>

                            <nvd3-discrete-bar-chart data="statusData"
                                                     id="statusData"
                                                     tooltipcontent="toolTipContentFunction()"
                                                     Width="550"
                                                     height="200"
                                                     margin="{left:0,top:0,bottom:0,right:0}"
                                                     showlabels="true"
                                                     showValues="true"
                                                     showYAxis="true"
                                                     tooltips="true">
                                <svg></svg>
                            </nvd3-discrete-bar-chart>

                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Aging Pie Chart</h2>

                            <nvd3-pie-chart data="ageingData"
                                            id="ageingData"
                                            x="xFunction()"
                                            y="yFunction()"
                                            Width="550"
                                            height="200"
                                            margin="{left:0,top:0,bottom:0,right:0}"
                                            showlabels="true"
                                            showValues="true"
                                            labeltype="value"
                                            pieLabelsOutside="false"
                                            tooltips="true"
                                            tooltipcontent="toolTipContentFunction1()">

                                <svg></svg>
                            </nvd3-pie-chart>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Quality Score by Quality KPI</h2>

                            <nvd3-discrete-bar-chart data="kpiData"
                                                     id="kpiData"
                                                     tooltipcontent="toolTipContentFunction()"
                                                     Width="550"
                                                     height="200"
                                                     margin="{left:0,top:0,bottom:0,right:0}"
                                                     showlabels="true"
                                                     showValues="true"
                                                     showYAxis="true"
                                                     tooltips="true">
                                <svg></svg>
                            </nvd3-discrete-bar-chart>
                        </div>
                    </li>
                </ul>

                <div class="col-md-12">&nbsp;</div>
                <ul class="row marginZero Charts">
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Assigned Items per Person Pie Chart</h2>

                            <nvd3-pie-chart data="assignedData"
                                            id="assignedData"
                                            x="xFunction()"
                                            y="yFunction()"
                                            Width="250"
                                            height="200"
                                            margin="{left:0,top:0,bottom:0,right:0}"
                                            showlabels="true"
                                            showValues="true"
                                            labeltype="value"
                                            pieLabelsOutside="false"
                                            tooltips="true"
                                            tooltipcontent="toolTipContentFunction1()">

                                <svg></svg>
                            </nvd3-pie-chart>
                        </div>
                    </li>
                    <li class="col-md-8">
                        <div ag-grid="gridOptions" class="ag-fresh" style="height: 350px;"></div>
                    </li>
                </ul>
            </div>

        </div>

    </section>
    <!--   Dashboard  Footer  -->
    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright 2015 Booz Allen Hamilton Inc. All Rights Reserved.</p>
            </div>
        </div>
    </footer>



</div>
