/*iPad Specific media queries*/

@media (max-width: 500px) {
    .loginPage header {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .loginBox {
        padding: 5vh 5vh 3vh 5vh;
    }
    .loginPage footer {
        font-size: 0.9em;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1499px) {
    .dataPopdown {
        top: 3.5em;
    }
}
@media (max-width: 1024px) {
    .Charts .cards {
        padding: .78vw 0.82vw;
    }
    .boardArea h2{
        margin-top: 0;
    }
}



@media (max-height: 600px) {
    .loginPage header {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .loginBox {
        padding: 5vh 5vh 3vh 5vh;
    }
    .loginPage footer {
        font-size: 0.9em;
    }
    .loginPage {
        min-height: 460px;
    }
}