@font-face {
    font-family: 'FoundersGrotesk-Semi';
    src: url('../fonts/FoundersGrotesk-SemiboldItalic.eot');
    src: url('../fonts/FoundersGrotesk-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-SemiboldItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Regular.eot');
    src: url('../fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Regular.woff') format('woff'), url('../fonts/FoundersGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-LightItalic.eot');
    src: url('../fonts/FoundersGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-LightItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Light.eot');
    src: url('../fonts/FoundersGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Light.woff') format('woff'), url('../fonts/FoundersGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Medium.eot');
    src: url('../fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Medium.woff') format('woff'), url('../fonts/FoundersGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-MediumItalic.eot');
    src: url('../fonts/FoundersGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-MediumItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-RegularItalic.eot');
    src: url('../fonts/FoundersGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-RegularItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Bold.eot');
    src: url('../fonts/FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Bold.woff') format('woff'), url('../fonts/FoundersGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk-Semi';
    src: url('../fonts/FoundersGrotesk-Semibold.eot');
    src: url('../fonts/FoundersGrotesk-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Semibold.woff') format('woff'), url('../fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-BoldItalic.eot');
    src: url('../fonts/FoundersGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-BoldItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*#####################
Global CSS (Start)
#######################*/

*,*:focus,*:hover,*:visited {
    outline: none;
}
h4, .h4{
    font-size: 1.125em;
}
a,a:hover,a:focus,a:active{
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: 'FoundersGrotesk', sans-serif;
    font-size: 0.8333vw;
}

input,
button,
select,
textarea {
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9em
}
.customScrollBar{
    position: relative;
}
.container-fluid{
    width: calc(100vw - 2em);
    padding-left: 1em;
    padding-right: 1em;
}
.marginZero {
    margin: 0;
}
.topHeading h2 {
    margin-bottom: 0;
}

.marginZero.topHeading {
    margin-bottom: .625em;
}
.ovalButton {
    padding: .6em 1em .5em 1em;
    border-radius: 2em;
    margin-left: .6em;
}

.yellowButton {
    background-color: #ffe122;
    color: #080700;
}

.ovalButton:hover,.ovalButton:active,.ovalButton:focus {
    text-decoration: none;
    color: #080700;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 1em;
    padding-right: 1em;
}

.row {
    margin-left: -1em;
    margin-right: -1em;
}
.iconButton i {
    margin: 0 .4em 0 .2em;
    vertical-align: top;
    width: 1.2em;
    display: inline-block;
}
.clickButton:hover{
    color: #fff;
}
.alignCenterV{
    align-items: center;
}
.flex1{
    flex: 1;
    -webkit-flex: 1;
}
.colorGrey{
    color: #a5adb6;
}
address {
    margin-bottom: .8em;
}
.sectionPadding {
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #ddd;
    padding: 2em 1.4em 0em 1.4em;
}
.sectionShadow{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}
.rowSec{
    margin: 2em 0;
}
.pageHeading h2 {
    text-transform: uppercase;
}

.pageHeading {
    margin-top: 1em;
}
.pageHeading a {
    height: 2.8em;
}

.pageHeading .iconButton i {
    font-size: 1.2em;
    width: 1.4em;
    text-align: right;
}

.pageHeading .iconButton span {
    display: inline-block;
    vertical-align: sub;
}

.pageHeading .iconButton i.fa {
    padding-top: .2em;
}
 input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*#####################
Global CSS (Ends)
#######################*/

/*#####################
Login Page CSS (Start)
#######################*/

.videoBg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#videoBox {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
    background: url(../img/video-bg.jpg) no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
/*
.backPoster{
    display: none;
    background-image: url('../../assets/img/video-bg.jpg');
}
*/
.abc {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.83);
}
.start .loginPage header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.loginPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
/*    background-color: rgba(255, 255, 255, 0.92);*/
}

.loginPage header {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    -webkit-transform: translate3d(0, 25vh, 0);
    -moz-transform: translate3d(0, 25vh, 0);
    -ms-transform: translate3d(0, 25vh, 0);
    -o-transform: translate3d(0, 25vh, 0);
    transform: translate3d(0, 25vh, 0);
    -webkit-transition: all 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition: all 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -ms-transition: all 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition: all 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.start .loginPage header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.loginPage header img {
    height: 10vh;
    max-height: 109px;
}

.loginPage header h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    padding: 0
}

.loginPage header h2 {
    font-size: 0.875em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgba(6, 6, 6, 0.40);
    text-transform: uppercase;
}

.loginBox {
    width: 100%;
    max-width: 33.43em;
    position: relative;
    background: #000;
    border-radius: 5px;
    min-height: 26.25em;
    margin: 0 auto;
    padding: 4.875em 4.25em 3.125em 4.25em;
    color: #fff;
    transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition: -o-transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition: transform 0.4s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.start .loginBox {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.loginBox .inputFields {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 2.2em;
}
.loginBox.hasError .inputFields{
    border-color: #e6002c;
}
.loginBox .inputFields i {
    position: absolute;
    line-height: 3em
}

.loginBox .inputFields input {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    height: 3em;
    margin: 0;
    padding: 0 0 0 3.125em;
    width: 100%;
    outline: none;
}

.loginBox .inputFields input:focus {
    box-shadow: none;
}

.loginBox .inputFields.button {
    border-bottom: none;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.7em;
}

.loginBox button {
    background: #f9db22;
    color: #000;
    font-size: 1.125em;
    line-height: 3.15em;
    padding: 0;
    width: 100%;
    border-radius: 1.8125em;
    outline: none;
    padding: 0;
}

.loginBox .inputFields.forgotLink {
    border-bottom: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.loginBox a {
    color: rgba(255, 255, 255, 0.60);
}

.loginPage footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.loginError {
    position: absolute;
    top: 30px;
    /* display: inline-block; */
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    /* width: 100%; */
    /* margin-left: -12px; */
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transition: transform .15s cubic-bezier(0.25, 0.1, 0.62, 1.89), opacity .1s ease;
    -webkit-transition: -webkit-transform .15s cubic-bezier(0.25, 0.1, 0.62, 1.89), opacity .1s ease;
    -webkit-transform .15s cubic-bezier(0.25, 0.1, 0.62, 1.89), opacity .1s ease;
}
.loginBox.hasError .loginError {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.error {
/*    transform: translateY(50px);*/
/*    -webkit-transform: translateY(50px);*/
    color: #fff;
    display: inline-block;background: #e6002c;
    padding: 11px 30px 8px 30px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;line-height: 15px;
    display: none;
    /* position: absolute; */
    border-radius: 4px;
}

/*
.error:after {
    content: "";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 10px;
    top: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #f00;
}
*/




/*#####################
Page Heading CSS (Starts)
#######################*/

.pageHeading.displayFlex > div:first-child {
    flex: 1;
    -webkit-flex: 1;
}

.pageHeading.displayFlex .alignCenter {
    align-items: center;
}

/*#####################
Page Heading CSS (Ends)
#######################*/


/*#####################
Login Page CSS (Ends)
#######################*/


/*#########################
Dashboard Css (Starts)
###########################*/

.dashboard {
/*    min-height: 100vh;*/
    width: 100%;
}


/* Dashboard Header */

.dashboard #header {
    width: 100%;
    background: #fff;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.16), 0 0px 8px 0 rgba(0, 0, 0, 0.12);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
#headMenu {
    position: absolute;
    right: 1em;
    width: 13vw;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 4px 0px #ddd;
    padding: 0;
    z-index: 11;
    margin-top: 5px;
    /* border-radius: 4px; */
}

#headMenu li {
    list-style: none;
    padding: 0;
}
.dashboard .toggleBox {
    width: 5.125em;
    background: #f7f7f7;
}

.dashboard span.navToggle {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    /* background-color: #f9db22; */
    color: #000;
    cursor: pointer;
}

.dashboard span.navToggle i {
    font-size: 2em;
    line-height: 2.58em;
/*    text-indent: -4px;*/
}

.dashboard .logoBox {
    line-height: 5.125em;
    padding: 0 4px 0 .9375em;
    width: 4.68em;
    /* background: rgba(249, 220, 34, 1); */
    /*     background:
    -moz-linear-gradient(left, rgba(249, 220, 34, 1) 0%, rgba(249, 220, 34, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background:
    -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 220, 34, 1)), color-stop(51%, rgba(249, 220, 34, 1)), color-stop(51%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background:
    -webkit-linear-gradient(left, rgba(249, 220, 34, 1) 0%, rgba(249, 220, 34, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background:
    -o-linear-gradient(left, rgba(249, 220, 34, 1) 0%, rgba(249, 220, 34, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background:
    -ms-linear-gradient(left, rgba(249, 220, 34, 1) 0%, rgba(249, 220, 34, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(249, 220, 34, 1) 0%, rgba(249, 220, 34, 1) 51%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9dc22', endColorstr='#ffffff', GradientType=1); */
}

.dashboard .searchBox {
    padding: 0 .9375em;
    text-align: center;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}

.searchInput {
    border: 1px solid #e2e2e2;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.4em;
    width: 60%;
    border-radius: 1.2em;
    padding: 0 1.2em;
    position: relative;
}

.searchInput input {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
    background: none;
    height: 2.657em;
}

.searchInput i {
    position: absolute;
    right: 12px;
    top: 0;
    line-height: 2.4em;
}

.dashboard .userBox {
    padding: 0 .9375em;
}

.dashboard .userBox p {
    margin: 0;
    padding: 0;
}
.dashboard .userBox a:hover, .dashboard .userBox a:active, .dashboard .userBox a:focus {
    text-decoration: none;
    color: #8e8f9b;
}
#headMenu a {
    padding: 20px 10px 20px 20px;
    display: inline-block;
    width: 100%;
}

#headMenu a:hover {
    background-color: #FEDF22;
    color: #8e8f9b;
}
#headMenu a span {
    margin-left: 1.176em;
    font-size: 1.06em;
}

#headMenu a i {
    font-size: 1.5em;
}
.userBox a {
    color: #8e8f9b;
}
.dashboard .userBox p i {
    font-style: normal;
    font-size: 1.1875em;
    line-height: 2.89em;
    background-color: #000;
    color: #fff;
    width: 2.89em;
    height: 2.89em;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
    margin-left: 15px;
}
.qualityScoreGraph {
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 1.3vw 0 1.04vw 0;
}

.qualityScore:after {
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    width: 1px;
    top: 0;
    height: 100%;
    background-color: #cadfe3;
}
.qualityScore:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background-color: #cadfe3;
}


.qualityScore {
    position: relative;
    /* margin-top: 15px; */
}
.qualityScoreGraph b {
    text-transform: uppercase;
    font-size: .812em;
    color: #9ea9af;
    display: block;
}

/*Dashboard Navigation*/

.menuOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
/*    background-color: rgba(0, 0, 0, 0.74);*/
    z-index: 10;
    /* display: none; */
}
.boardNav {
    background-color: #000000;
    margin: 0;
    padding: 0;
    position: fixed;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    z-index: 11;
    top: 5.125em;
    height: calc(100vh - 5.125em);
}

.boardNav.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.boardNav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 21.875em;
    position: relative;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.dashboard .toggleBox {
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
}
.dashboard .toggleBox.active {
    background: #fadd23;
}
.boardNav > ul > li {
    margin: 0;
    padding: 0;
    width: 21.875em;
    list-style: none;
    color: #7a808a;
    border-bottom: 1px solid #181a1c;
}

.boardNav > ul > li > a {
    color: #7a808a;
    text-decoration: none;
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    transition: all 0.3s ease-in-out
}

.boardNav > ul > li > a.selectedNode,
.boardNav > ul > li > a:hover {
    color: #000;
    background: #f9db22;
}

.boardNav > ul > li > a > i {
    width: 3.75em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.boardNav > ul > li > a > i.fa-caret-down {
    width: auto;
    padding: 0 15px;
}

.boardNav > ul > li > a > span {
    display: inline-block;
    font-size: 1.1875em;
}
.boardNav .alertCount {
    background-color: #fb4130;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin-right: 10%;
    line-height: 2.4em;
    float: right;
}

/*Dashboard Main Body*/

.mainBoard {
    width: 100%;
/*    min-height: calc(100vh - 82px - 50px);*/
    display: -webkit-flex;
    display: flex;
    display: -moz-flex;
}


/*Dashboard Heading Text*/

.boardArea {
    float: left;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    background-color: #f9f9f9;
    color: #4c5e70;
    padding-top: 1em;
    padding-bottom: 0;
}

.boardArea h2 {
    font-size: 1.125em;
    margin-bottom: 0;
    margin-top: 1.11em;
}

.boardArea p {
    color: #a5adb6;
    font-size: 1em;
}


/*Dashboard Charts*/

.Charts {
    margin: 0;
    padding: 0 0 1.875em 0;
    list-style: none;
}
.Charts h2 { font-size: 1.375em; font-weight: 400; display: inline-block; width: 50%;}

.Charts .cards {
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: .78vw 1.82vw;
}

.cards select {
    padding: .37em 1.07em;
    border-radius: 1.428em;
    position: relative;
    top: .714em;
    width: 40%;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/arrow.png) no-repeat right 1em center;
    border: 1px solid #e2e2e2;
}
.ag-body .rag-caseStatus:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: sub;
    background-repeat: no-repeat;
    background-size: 100%;
}
.ag-body .rag-caseStatus.type-new:before {
    background-image: url(../img/status1.png);
}
.ag-body .rag-caseStatus.type-dc:before {
    background-image: url(../img/status2.png);
}
.ag-body .rag-caseStatus.type-an:before {
    background-image: url(../img/status3.png);
}
.ag-body .rag-caseStatus.type-qa:before {
    background-image: url(../img/status4.png);
}
.ag-body .rag-caseStatus.type-aa:before {
    background-image: url(../img/status5.png);
}
.dataNo {
    line-height: .8823em;
    text-align: center;
}

.dataNo:after {
    content: "";
    display: block;
    font-size: .8823em;
}
.rag-red .dataNo {
    color: #FF503F;
}
.rag-red .dataNo:after{
    content: "High"
}
.rag-amber .dataNo:after{
    content: "Medium";
}
.rag-green .dataNo:after{
    content: "Low"
}
.rag-amber .dataNo {
    color: #f9db22;
}
.rag-green .dataNo {
    color: #5b5b5d;
}
.displayFlex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

.Charts.displayFlex > li {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}

.Charts.displayFlex > li:last-child {
    position: relative;
}

.Charts.displayFlex > li:last-child .cards {
    position: absolute;
    height: 100%;
    width: calc(100% - 30px);
}
.assignedItemBlock h2{
    float: left;
    display: inline-block;
    width: 50%;
}
#productionOutputChartId h6 {
    position: absolute;
    bottom: 1.56vw;
    left: 5.2vw;
    margin-top: 0;
    text-transform: uppercase;
}
.Charts.displayFlex .assignedItemBlock{
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}
.Charts.displayFlex .analystList{
    flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    margin: 0 15px;
}
.analystList > div {
    height: calc(100% - 5.31em);
    width: calc(100% - 30px);
    position: absolute;
}
.analystList .gridSearch {
    width: 30%;
    padding: 1.35em .9375em;
    position: absolute;
    right: 0;
    top: 0;
    height: 5.25em;
}

.analystList .gridSearch .searchInput {
    display: inline-block;
}
.analystList .cell-col-1 a,.analystList .cell-col-1 a:hover {
    color: #0c72c1;
}
/*Dashboard Tabs*/

.tabbable .num {
/*
    border: 1px solid #e7e7e7;
    background-color: #fff;
*/
display: inline-block;background-color: #78808E;padding: .5em .46em .1em .5em;border-radius: 50%;color: #fff;margin-left: .476em;font-size: 0.8em;}
.nav-tabs .tabbable li a:hover {
    color: #ffcc00;
}
.tabbable .active .num {
    background-color: #FC0;
}
.tabbable li a {
    min-height: 4.57em;
    color: #78808e;
}
.tabbable li a i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.girdBox .nav-tabs > li.active > a, .girdBox .nav-tabs > li.active > a:hover, .girdBox .nav-tabs > li.active > a:focus{
    color: #ffcc00;
}

.tabbable:before {
    display: table;
    content: " ";
}
.tabbable:after {
    display: table;
    content: " ";
    clear: both;
}

.nav-tabs {
    background-color: #f5f7f7;
    border: 1px solid #e4e4e4;
}

.nav-tabs > li > a {
    border: 0;
    border-top: 6px solid transparent;
    border-radius: 0;
    font-size: 1.3125em;
    line-height: 1em;
    margin-right: 0;
    padding: .9em 1.9em .333em;
}
.nav-tabs > li:first-child.active {

margin-left: -1px;
}
.tabbable .nav-tabs > li:last-child:not(.active) {
    border-right: 1px solid rgba(120, 128, 142, 0.19);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 0;
    border-top: .375em solid #ffcc00;
    box-shadow: 1px -1px 5px 0 rgba(0, 0, 0, 0.1);
}


/*Dashboard Grids*/

.girdBox {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    position: relative;
}

.gridSearch {
    width: 20%;
    padding: 2em .9375em;
    position: absolute;
    right: 0;
}
.gridSearch:before {
    display: table;
    content: " ";
}
.gridSearch:after {
    display: table;
    content: " ";
    clear: both;
}

.gridSearch .searchInput {
    width: 100%;
    float: left;
    display: none;
}
.searchInput.active{
    display: block;
}
.gridFilter {
        float: right;
}
.analystList{
    background-color: #fff;
    border: 1px solid #ddd;
}
.analystList h2 {
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    padding: 1.5em 1.772em 1.09em 1.5em;
    font-weight: 400;
    display: block;
    background-color: #F9F9F9;
    width: calc(100% + 30px);
}
.riskData {
    padding-top: 1.58em;
}

.riskData > div {
/*    width: 5.882em;*/
    position: relative;
}
.dataPopup, .dataPopdown {
    position: absolute;
    height: 1.4em;
    line-height: 1.5em;
    color: #78808E;
    font-size: .9em;
    z-index: 1000;
    border-radius: 0;
    white-space: nowrap;
    padding-top: .15em;
    padding-left: 1em;
    padding-right: 1em;
}

.dataPopup {
    margin-top: -1.6em;
}
.cell-col-1 b {
    color: #515151;
}
.dataPopdown {
    top: 100%;
    background-color: #000;
    margin-left: -1.2em;
    color: #fff;
}
.dataPopdown:after {
    content: "";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1em;
    top: -6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #000;
}
.boardArea .ovalButton {
/*
    position: absolute;
    right: 1em;
    top: .5em;
*/
}
.ag-fresh .ag-header-cell-menu-button,.ag-fresh .ag-header-cell-menu-button:hover {
    height: 1em;
    border: none;
    cursor: pointer;
}
/*Dashboard Footer*/

.dashboard #footer {
    width: 100%;
    padding: 1.875em 0;
}
.dashboard #footer p { margin: 0; padding: 0; color: #2d2d2d;}
.clickButton {
    background-color: #5b5b5d;
    color: #fff;
    padding: 4px 8px 0px 8px;
    display: inline-block;
    line-height: 28px;
    box-sizing: border-box;
    border-radius: 5px;
}


.qualityyellow {
       color: #F9DB22;
       font-size: 1.25vw;
       font-style: normal;
       font-weight: 500;
       line-height: 26.4px;
   }
   .qualityred {
       color: #FF503F;
       font-size: 1.25vw;
       font-style: normal;
       font-weight: 500;
       line-height: 26.4px;
   }
   .qualitygrey {
       color: #5B5B5D;
       font-size: 1.25vw;
       font-style: normal;
       font-weight: 500;
       line-height: 26.4px;
   }

/*#########################
Dashboard Css (Ends)
###########################*/


/*#########################
Entity Detail Page CSS (Start)
###########################*/


.entityRow1 > div:nth-child(1){
    flex: 6;
    -moz-flex: 6;
    -ms-flex: 6;
    -webkit-flex: 6;
    /* margin-right: 1em; */
}
.entityRow1 > div:nth-child(2){
    flex: 12;
    -moz-flex: 12;
    -ms-flex: 12;
    -webkit-flex: 12;
}
.entityRow1 > div:nth-child(3){
    flex: 11;
    -moz-flex: 11;
    -ms-flex: 11;
    -webkit-flex: 11;
}
.entityRow1 article {
    padding: .3125em 1.5625em .9375em 1.5625em;
    border-radius: 2px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}

address i {
    width: 1em;
    display: inline-block;
    color: #a5adb6;
    font-size: .8em;
    margin-right: .5em;
}

.entityRow1 article:first-child {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.entityRow1 article h3 {
    font-weight: 400;
    font-size: 1.375em;
    margin-bottom: .6em;
}
.toggleButton .switch {
    display: inline-block;
}

.toggleButton {
    text-align: right;
    margin-top: 1em;
    opacity: 0;
}
.newToggleButton {
    text-align: center;
    margin-top: 2em;
}
.entityCard.secCardGrey address {
    margin-top: 1em;
}
.newToggleButton .button span {
    padding: 0.7em .8em .1em .8em;
    display: inline-block;
    font-size: .8em;
    float: left;
    background-color: #fff;
}

.newToggleButton .button span:nth-child(2) {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
}

.newToggleButton .button span.active {
    background-color: #5B5B5B;
    color: #fff;
}

.newToggleButton .button span:first-child {
    border-radius: 1em 0 0 1em;
}

.newToggleButton .button span:last-child {
    border-radius: 0 1em 1em 0;
}
.newToggleButton .button {
    display: inline-block;
    /* background-color: #FFF; */
    padding: 0;
    /* border-radius: 1em; */
}
.secCardWhite .newToggleButton .button span {
    padding: 0.7em .8em .1em .8em;
    display: inline-block;
    font-size: .8em;
    float: left;
    color: #fff;
    background-color: #9A9A9A;
}

.secCardWhite .newToggleButton .button span:nth-child(2) {
    border: 1px solid #5B5B5B;
    border-bottom: none;
    border-top: none;
}

.secCardWhite .newToggleButton .button span.active {
    background-color: rgb(91, 91, 91);
    color: #fcfcfc;
}

.newToggleButton .button span:last-child {
    border-radius: 0 1em 1em 0;
}
.newToggleButton .button {
    display: inline-block;
    /* background-color: #FFF; */
    padding: 0;
    /* border-radius: 1em; */
}
.entityCard.secCardWhite .headSource {
    color: #fff;
}

.headSource {
/*    display: inline-block;*/
    background-color: rgba(91, 91, 91, 0.67);
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    padding: .5em .8em .1em .8em;
    border-radius: 1em;
}
.entityCard {
    background-color: rgba(51, 51, 51, 0.47);
    padding: 1.25em .9375em .625em .9375em;
    min-width: 22.9em;
    border-radius: 0;
    height: 100%;
    position: absolute;
    z-index: 9;
    /* transform: translateY(2em); */
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.25);
}
.cardNav{
/*    display: flex;*/
/*
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
*/
    position: absolute;bottom: 0em;
    z-index: 10;
    width: calc(100% - 30px);
    padding: 0 1em;}
.cardNav a{
    color: #fff;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    margin-top: -2.5em;
} 
.cardNav.whiteActive a {
    color: #232323;
}

.cardNav i {
    margin: 0 .2em;
}
.entityCard h2 {
    font-size: 2.5em;
    color: #fff;
}
.entityCard .nameInitial {
    display: inline-block;
    background-color: #fff;
    margin-top: .2em;
    color: #000;
    font-weight: 100;
    padding: 1em .444em .2em .444em;
    border-radius: 50%;
    height: 2.66em;
    width: 2.66em;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}

.entityCard address {
    width: 55%;
    margin: 1em auto 2em auto;
}
.entityRow1 article h4 {
    font-size: 1em;
    margin-bottom: .4em;
    font-weight: 400;
}
.entityCard p,.entityCard i {
    color: #ffedeb;
    display: inline-block;
}

address p {
    margin-left: .6em;
    margin-bottom: .4em;
}

.entityCard address > div {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
}

.entityCard a {
    text-transform: uppercase;
    color: #fff;
    font-size: .9em;
}

.entityCard a span {
    margin: 0 .4em;
}
.entityRow1 {
    margin: 2em 0;
}

.entityCard.active {
    /* background-color: #fe4735; */
    z-index: 10;
    border-radius: 4px;
}
.entityCard.cardRed {
    background-color: #fd4735;
}
.entityCard.cardGrey{
    background-color: #616161;
}
.entityCard.cardYellow{
    background-color: #f9db22;
}
.entityCard.active .toggleButton {
    opacity: 1;
}
.entityCard.secCardGrey {
    background-color: #959595;
}
.entityCard.secCardLightgrey {
    background-color: #a0a0a0;
}
.entityCard.secCardWhite {
    background-color: #fff;
}
.entityCard.secCardWhite * {
    color: #232323;
}
.entityCard.secCardWhite .nameInitial {
    color: #fff;
    background-color: #5B5B5B;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.42);
}
.entityCard:nth-child(2){
    transform: translateY(-2em) scale(.9);
    z-index: 9;
}
.entityCard:nth-child(3){
    transform: translateY(-4em) scale(.8);
    z-index: 8;
}
.entityCard:nth-child(4){
    transform: translateY(-6em) scale(.7);
    z-index: 7;
}
.entityCard:nth-child(5){
    transform: translateY(-8em) scale(.6);
    z-index: 6;
/*
    opacity: 0;
    visibility: hidden;
*/
}
.entityCard:nth-child(6){
    transform: translateY(-10em) scale(.5);
    z-index: 5;
/*
    opacity: 0;
    visibility: hidden;
*/
}
.entityCard:nth-child(7){
    transform: translateY(-12em) scale(.4);
    z-index: 4;
/*
    opacity: 0;
    visibility: hidden;
*/
}
.entityCard:nth-child(8){
    transform: translateY(-14em) scale(.3);
    z-index: 3;
/*
    opacity: 0;
    visibility: hidden;
*/
}
.entityRow1 article .accInfo {
    padding: 1.2em 0 0.3em 0;
    border-bottom: 1px solid #ddd;
}

.entityRow1 article .accInfo:last-child {
    border: none;
    padding-bottom: 0;
}

.entityRow1 article:last-child h3 {
    margin-bottom: 0;
}

.riskScore h4 {
    display: inline-block;
    text-transform: uppercase;
    color: #f35345;
    font-weight: 400;
    margin-left: 2em;
    font-size: 21px;
}

.riskScore h4 strong {
    margin-left: 1em;
}
.entityTabs{
    margin: 2em 0;
}
.entityInfoTabs .tabbable li a {
    min-height: 3.81em;
    line-height: 2em;
    text-align: center;
}
.entityRiskTabs .nav-tabs {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
}
.entityRiskTabs .nav-tabs > li:hover {
    background-color: #eee;
}
.entityRiskTabs .tabbable li a{
    text-align: center;
}
.entityRiskTabs .nav-tabs > li.active {
    background-color: #fff;
}

.entityRiskTabs .riskData {
    padding: 0;
}
.entityRiskTabs .sectionShadow {
    background-color: #fff;
}
.tabGrid {
    padding: 0 1em;
    background-color: #fff;
    display: table;
    width: 100%;
    margin-bottom: 0;
}

.tabRow {
    display: table-row;
}
.attributeRiskLeft .tabRow{
    display: inline-table;
}
.attributeRiskRight .tabRow{
    display: inline-table;
}
.docGrid div:nth-child(2) {
    width: 36%;
}
.attributeRiskGrid {
    padding-bottom: 1em;
}
 .notesGrid .tabRow div:nth-child(1) {
    width: 3em;
    vertical-align: top;
    text-align: center;
} 
.tabRow .tabCell {
/*    display: table-cell;*/
    vertical-align: middle;
    border-bottom: 1px solid #E4E4E4;
    padding: .4em 0 .5em 0;
}
.tabGridHead {
    height: 1em;
}

.tabGridHead .tabCell {
    padding-top: 1.9em;
    padding-bottom: 0;
}

.docGrid .tabCell h4 {
    font-weight: 400;
    margin: .2em 0 .2em 0;
}

.tabGridHead .tabCell {
    border: none;
}
.tabGrid h4 {
    font-weight: 400;
    margin-bottom: 0.2em;
    margin-top: 0;
}

.notesGrid {
    padding-top: 1em;
    background-color: #fff;
    height: calc(25.6875em - 9.0625em) !important;
}

.tabRow:last-child div {
    border: none;
}

.tabGrid p {
    margin-top: .8em;
}
.taskGrid .tabRow div:nth-child(1) {
    width: auto;
    text-align: left;
}

.taskGrid .tabRow .tabCell {
    /* padding: .8em 0 0em 0; */
    height: 4em;
    vertical-align: middle;
    /* background-color: #ddd; */
}
.taskGrid {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
    height: calc(25.6875em - 9.0625em) !important;
}
.dnaHead > div {
    cursor: pointer;
    position: relative;
}
.entityRiskTabs .dataPopdown {
    left: 50%;
}
.cellItem {
    height: 2.5em;
    padding: .9em 1em .9em 0.8em;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.entityInfoTabs .nav-tabs {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    /* justify-content: space-around; */
}
.entityRiskTabs .nav-tabs li.active a {
    color: #FFCC00;
}
.entityInfoTabs .nav-tabs > li{
    float: none;
    flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
}
.entityRiskTabs .nav-tabs > li{
    float: none;
    width: 20%;
    position: relative;
    height: 9em;
}
.entityRiskTabs .riskData > div {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    margin: 0 auto;
    width: 90%;
}
.nav-tabs > li {
    border-right: 1px solid #e4e4e4;
}

.nav-tabs > li:last-child {
    border-right: none;
}
.taskRow{
    position: relative;
    padding-left: 2em;
}
.taskRow:before {
    content: "";
    display: inline-block;
    height: 2em;
    width: 2em;
    position: absolute;
    left: 0;
    /* top: 1em; */
    background-image: url('../img/icon6.png');
    background-repeat: no-repeat;
    background-size: .65em;
}

.taskGrid h4 {
    position: relative;
    padding-left: 2em;
}
.slideToggleSec {
    display: inline-block;
    height: 2em;
    width: 2em;
    border: 2px solid #86939f;
    color: #86939f;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.2em;
    vertical-align: middle;
    transition: all .3s ease-in-out;
}
.changeLogGrid .tabCell:nth-child(1) {
    width: 55%;
    text-align: left;
}
.changeLogGrid{
    width: 100%;
    height: 29em;
}
.changeLogGrid .tabCell {
    width: 17%;
}
.documentCenterS #center{
    width: auto !important;
} 
.docsFooter {
    justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding: 1em;
    height: 4em;
}
.docsFooter a {
    height: 2.05em;
    width: 2.05em;
    display: inline-block;
    background-color: #aeb9c4;
    margin-left: 1.5em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    padding-top: .15em;
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
}
.docsFooter a.active,.docsFooter a:hover {
    background-color: #FFE122;
}
.docsFooter a i {
    vertical-align: bottom;
}
.sectionHeading {
    padding-bottom: 0.8em;
}
.sectionHeading h3 {
    line-height: 1.5em;
}
.cardsCounter,.addNewCard {
    height: 2.05em;
    width: 2.05em;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    padding: .55em 0;
    color: #FE4735;
}
.addNewCard {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 11;
    cursor: pointer;
}
.secCardWhite .addNewCard {
    background-color: #5B5B5B;
}

.secCardWhite .addNewCard i {
    color: #FFF;
}

.secCardGrey .addNewCard i {
    color: #959595;
}
.cardsCounter {
    display: block;
    margin-left: auto;
    position: absolute;
    right: 1em;
    top: 1em;
}
.addNewCard i {
    color: #FE4735;
}

.secCardGrey.addNewCard i {
    color: #959595;
}

.cardsCounter i {
    color: #FE4735;
}
.entityCard .riskScore {
    font-size: 4em;
    margin-top: .6em;
    font-weight: 300;
}

.entityCard .riskScore + h3 {
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    font-weight: 400;
}
.inputField input,.inputField textarea {
    border: none;
    background-color: transparent;
    flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    height: 3.5em;
    padding-left: 1em;
}

.tabContent {
    background-color: #fff;
    /* padding: 4em 2em; */
}

.inputField {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inputField.hasAction span {
    width: 2em;
    height: 3.5em;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.2em;
    color: #ddd;
}

.inputBox h3 {
    margin-bottom: .3em;
    font-weight: 400;
    font-size: 1.25em;
}

.inputBox {
	margin: .6em 0;
	padding: 1.3em 1.3em 1.4em 0.8em;
	border: 1px solid red;
	box-sizing: border-box;
	border-radius: 4px;
}

.inputBox > span {
    width: 2em;
}
.negativeRiskGrid .tabRow div:nth-child(1) {
    width: auto;
    text-align: left;
    padding-left: 2em;
}
.negativeRiskGrid .tabRow .tabCell:nth-child(5) {
    width: 17%;
}
.negativeRiskGrid .tabRow .tabCell:nth-child(4) {
    width: 12%;
}

.negativeRiskGrid .tabRow .tabCell:nth-child(4) input {
    width: 4.5em;
    height: 2.5em;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.negativeRiskGrid .tabGridHead .tabCell {
    padding-bottom: 1em;
}

.negativeRiskGrid .tabRow:not(.tabGridHead) .tabCell {
    font-size: 1.1em;
    vertical-align: middle;
}

.negativeRiskGrid .tabRow .tabCell:nth-child(5) a {
    color: #0a74c0;
}
.attributeRiskGrid .cellItem {
    background-color: transparent;
}
.attributeRiskGrid .tabCell:last-child {
    width: 65%;
}
.attributeRiskGrid .tabCell:first-child {
    width: 35%;
}
.entityAccounts #centerRow {
    height: 11.5em !important;
    margin: 0 -1.6em;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.entityAccounts .ag-fresh .ag-cell {
    line-height: 1em;
    padding-top: .2em;
}

.entityAccounts .ag-fresh .ag-cell b {
    font-weight: 400;
}
.entityAccounts h3 {
    padding-bottom: .4em;
    margin-top: .6em;
}
#entityDetail .ag-fresh .ag-header-cell {
    padding: 1.4em 0 1.4em 0;
    font-size: .9em;
}

#entityDetail .ag-header-viewport {
    padding-left: 1.5em;
}

#entityDetail .ag-body-container {
    padding-left: 1em;
}
#entityDetail .ag-fresh .ag-cell.rag-entity span {
    padding-top: 0;
}

#entityDetail .ag-fresh .ag-cell.rag-entity span b:first-child {
    color: #232323;
    font-weight: 400;
}
.ag-fresh.taskGrid .ag-cell {
    line-height: 2.5em;
}
.taskGrid .ag-row {
    background-color: #F9F9F9;
}
.notesGrid .ag-body-container {
    margin-top: 0;
}

.notesGrid p {
    margin-top: .6em;
}
.notesGrid .ag-row {
    padding-top: 1.3em;
}
.entityAccounts .ag-row {
    margin-top: 1em;
}

.entityAccounts .ag-fresh .ag-cell b:first-child {
    line-height: 2em;
    color: #232323;
}
.entityRow1 .entityAccounts {
    padding-bottom: 0;
}
.addPopup {
    position: absolute;
    display: none;
    /* height: 11em; */
    width: 26em;
    padding: 1.7em 2em;
    border: 1px solid #ddd;
    z-index: 100;
    box-shadow: 0px 0px 15px 2px #CCC;
    -moz-box-shadow: 0px 0px 15px 2px #CCC;
    -ms-box-shadow: 0px 0px 15px 2px #CCC;
    -webkit-box-shadow: 0px 0px 15px 2px #CCC;
    background-color: #fff;
    margin-top: -5em;
}

.addPopup input[type="file"] {
    position: relative;
    width: 7em;
    border: none;
    padding-left: 0;
}

.addPopup input[type="file"]:after {
    content: "Select";
    display: block;
    opacity: 1;
    height: 2.95em;
    padding-top: 0.8em;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    width: 7em;
    text-align: center;
    background: #FFE122;
    position: absolute;
    top: 0;
    border-radius: 0;
}
.addPopup input {
    height: 3em;
    border-radius: 0;
    width: 100%;
    margin-bottom: 1em;
    border: none;
    border: 1px solid #ccc;
    padding-left: 1em;
    font-size: inherit;
}
.fileUploadName label{
    font-weight: 400;
}
.fileUploadName{
    display: block !important;
    height: 2.95em;
    border-radius: 0;
    width: 100%;
    margin-bottom: 1em;
    line-height: 3.2em;
    border: none;
    border: 1px solid #ccc;
    padding-left: 1em;
    font-size: inherit;
}
.addPopup button {
    margin-right: 1em;
    background-color: #AEB9C4;
    border-radius: 2em;
    border: none;
    color: #fff;
    padding: .8em 1.5em;
}
div[ag-grid="DocumentCenterGrid"] {
    background-color: #fff;
    height: calc(25.6875em - 9.0625em) !important;
}
.negativeRisk header h3 {
    margin: 1em;
}
.attributeRiskLeft > li, .attributeRiskRight > li {
  width: 100%;
}
.attributeRiskRight {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.attributeRiskLeft {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.watchListGrid #centerRow .ag-cell {
    text-align: left;
}
.watchlistGridRow,.negativeGridRowId,.accountGridRow,.activityGridRowId {
    border: 2px solid transparent;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -ms-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.watchListGrid #centerRow .ag-cell:last-child {
    line-height: 1.1em;
    padding-top: 1em;
}

.watchListGrid #centerRow .ag-cell:first-child span {
    margin-right: 1em;
}
.pepHitsGrid #centerRow .ag-cell {
    text-align: left;
}

.pepHitsGrid #centerRow .ag-cell:first-child span {
    margin-right: 1em;
}
.watchListTitle h3 {
    padding-top: 1em;
    margin-left: 1em;
}

.watchListTitle {
    padding-bottom: 0;
}
.PepHitsSec {
    border-left: 1px solid #ccc;
}
.entityAccounts #center {
    width: 100% !important;
}
.closePopup {
    position: absolute;
    right: .4em;
    top: .4em;
    color: #ccc;
}
.nv-point {
    stroke-opacity: 1 !important;
    stroke-width: 5px !important;
    fill-opacity: 1 !important;
}
.networkData {
    padding: 2em;
    background-color: #fff;
}
.fileUploadName label {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.attributeRiskLeft .tabRow > div, .attributeRiskRight .tabRow > div {
    border: 2px solid transparent;
    transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -ms-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
}
.slideToggleSec:hover {
    border-color: #23527c;
}

.slideToggleSec.open {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.addNewCardWin {
    position: fixed;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
}

.addPersonaPopup {
    background-color: #fff;
    display: inline-block;
    /* height: 48vh; */
    /* width: 36vw; */
    position: absolute;
    top: 15vh;
    left: 20vw;
}
.addPersonaPopup h2 {
    margin-top: 0;
    padding: 1em;
    background-color: #f9fafa;
}

.addPersonaPopup form {
    padding: 1.7em;
}

.addPersonaPopup input,.addPersonaPopup select {
    width: 20em;
    height: 3em;
}

.addPersonaPopup td {
    padding: .5em 1em;
}

.addPersonaPopup button {
    background-color: #aeb9c4;
    color: #fff;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    padding: .8em 2.5em;
    border-radius: 2em;
    margin-left: 1em;
    margin-top: 1.2em;
}
.rag-done b {
    position: relative;
    text-decoration: line-through;
}
.addPopup.negativeNewsRisk {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.65);
}
.addPopup.negativeNewsRisk .popupContent {
    display: inline-block;
    /* height: 50vh; */
    width: 50vw;
    position: relative;
    top: 50vh;
    background-color: #fff;
    left: 50vw;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 1em 2em 2em 2em;
}
.newsPopHead {
    margin: 0 -2em;
    border-bottom: 1px solid rgba(221, 221, 221, 0.65);
    padding: 0 2em;
}
.addPopup.negativeNewsRisk button {
    margin-top: 1em;
}
.newsTrigger i {
    font-size: 1.2em;
    color: #5B5B5D;
}
.addPopup textarea {
    margin-bottom: 1em;
}
/*#########################
Entity Detail Page CSS (Ends)
###########################*/


/*#########################
Case Detail Page CSS (Starts)
###########################*/
.caseDetailRow1 {
    background-color: #fff;
    border: none;
    border-collapse: separate;
    padding: 1em 0;
    margin-top: 0;
}
.caseDetailRow1 th {
    font-size: .9em;
    font-weight: 500;
    color: #9fa8b2;
}
}

.caseDetailRow1 td {
    color: #9fa8b2;
}

.caseDetailRow1 select {
    padding: .37em 1.07em;
    border-radius: 1.428em;
    position: relative;
    /* top: .714em; */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/arrow.png) no-repeat right 1em center;
    border: 1px solid #e2e2e2;
}
.caseChecklist {
    margin-right: 1em;
    background-color: #fff;
}

.caseDocumentTabs {
    margin-left: 1em;
    background-color: #fff;
}

.caseChecklist h4 {
    padding: 1em 1.8em 1em 1.5em;
    font-size: 1.4em;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

.caseChecklist ul {
    padding: 0;
    list-style: none;
}

.caseChecklist ul li {
    padding: 1em 1em 1em 2em;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

.caseChecklist ul li input {
    margin-right: 1em;
}

.caseDocument .nav-tabs {
    display: flex;
}
.caseDetailRow1 tr td {
    padding-top: 1em;
    color: #9fa8b2;
}
.caseDocumentTabs .nav-tabs {
    display: flex;
}

.caseDocumentTabs .nav-tabs li {
    flex: 1;
    text-align: center;
}

.caseDocumentTabs .nav-tabs li a {
    min-height: 3.6em;
    padding-top: 1.4em;
}

.caseDocumentTabs .nav-tabs li.active a {
    color: #ffcc00;
}

.caseChecklist ul li:last-child {
    border: none;
}
/*#########################
Case Detail Page CSS (Ends)
###########################*/