@font-face {
    font-family: 'FoundersGrotesk-Semi';
    src: url('../fonts/FoundersGrotesk-SemiboldItalic.eot');
    src: url('../fonts/FoundersGrotesk-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-SemiboldItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Regular.eot');
    src: url('../fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Regular.woff') format('woff'), url('../fonts/FoundersGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-LightItalic.eot');
    src: url('../fonts/FoundersGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-LightItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Light.eot');
    src: url('../fonts/FoundersGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Light.woff') format('woff'), url('../fonts/FoundersGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Medium.eot');
    src: url('../fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Medium.woff') format('woff'), url('../fonts/FoundersGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-MediumItalic.eot');
    src: url('../fonts/FoundersGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-MediumItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-RegularItalic.eot');
    src: url('../fonts/FoundersGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-RegularItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-Bold.eot');
    src: url('../fonts/FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Bold.woff') format('woff'), url('../fonts/FoundersGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk-Semi';
    src: url('../fonts/FoundersGrotesk-Semibold.eot');
    src: url('../fonts/FoundersGrotesk-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-Semibold.woff') format('woff'), url('../fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/FoundersGrotesk-BoldItalic.eot');
    src: url('../fonts/FoundersGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGrotesk-BoldItalic.woff') format('woff'), url('../fonts/FoundersGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    outline: none;
}

body {
    font-family: 'FoundersGrotesk', sans-serif;
    font-size: 16px;
}


/* Login Page CSS (Start)*/

.videoBg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#videoBox {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(180deg);
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
    background: url(/assets/img/video-bg.jpg) no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.start .loginPage header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.loginPage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.92);
}

.loginPage header {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    -webkit-transform: translate3d(0, 25vh, 0);
    -moz-transform: translate3d(0, 25vh, 0);
    -ms-transform: translate3d(0, 25vh, 0);
    -o-transform: translate3d(0, 25vh, 0);
    transform: translate3d(0, 25vh, 0);
    -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.start .loginPage header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.loginPage header img {
    height: 10vh;
    max-height: 109px;
}

.loginPage header h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    padding: 0
}

.loginPage header h2 {
    font-size: 0.875em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgba(6, 6, 6, 0.40);
    text-transform: uppercase;
}

.loginBox {
    width: 100%;
    max-width: 535px;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    padding: 7vh 7vh 5vh 7vh;
    color: #fff;
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition: -moz-transform 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -ms-transition: -ms-transform 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -o-transition: -o-transform 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition: transform 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.start .loginBox {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.loginBox .inputFields {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 1.875em;
}

.loginBox .inputFields i {
    position: absolute;
    line-height: 3em
}

.loginBox .inputFields input {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    height: 3em;
    margin: 0;
    padding: 0.1875em 0 0 3.125em;
    width: 100%;
    outline: none;
}

.loginBox .inputFields input:focus {
    box-shadow: none;
}

.loginBox .inputFields.button {
    border-bottom: none;
    text-align: center;
}

.loginBox button {
    background: #f9db22;
    color: #000;
    font-size: 1.125em;
    line-height: 2.7em;
    padding: 0;
    width: 100%;
    border-radius: 1.8125em;
    outline: none;
    padding: 8px 0 0;
}

.loginBox .inputFields.forgotLink {
    border-bottom: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.loginBox a {
    color: rgba(255, 255, 255, 0.60);
}

.loginPage footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}


/* Login Page CSS (Ends)*/


/* Dashboard Css */

.dashboard {
    min-height: 100vh;
    width: 100%;
}

.dashboard header {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.dashboard .toggleBox {
    width: 120px;
}

.dashboard a.navToggle {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color: #f9db22;
    color: #000;
}

.dashboard a.navToggle i {
    font-size: 2em;
    line-height: 2.58em;
}

.dashboard .logoBox {
    line-height: 82px;
    padding: 0 15px;
}

.dashboard .searchBox {
    padding: 0 15px;
    text-align: center;
    flex: 1
}

.searchInput {
    border: 1px solid #e2e2e2;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.4em;
    width: 50%;
    border-radius: 1.2em;
    padding: 0 1.2em;
    position: relative;
}

.searchInput input {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
    background: none;
}

.searchInput i {
    position: absolute;
    right: 12px;
    top: 0;
    line-height: 2.4em;
}

.dashboard .userBox {
    padding: 0 15px;
}

.dashboard .userBox p {
    margin: 0;
    padding: 0;
}

.dashboard .userBox p i {
    font-style: normal;
    font-size: 1.1875em;
    line-height: 3.29em;
    background-color: #e4e4e4;
    color: #282828;
    width: 3.29em;
    height: 3.29em;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    border: 1px solid rgba(164, 164, 164, 0.46);
    padding-top: 3px;
    margin-left: 15px;
}

.mainBoard {
    width: 100%;
    min-height: calc(100vh - 82px);
    display: -webkit-flex;
    display: flex;
}

.boardNav {
    width: 120px;
    background-color: #000000;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

.boardNav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 120px;
    position: absolute;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 9;
}

.boardNav > ul.open {
    width: 350px;
}

.boardNav > ul > li {
    margin: 0;
    padding: 0;
    width: 350px;
    list-style: none;
    color: #7a808a;
    border-bottom: 1px solid #181a1c;
}

.boardNav > ul > li > a {
    color: #7a808a;
    text-decoration: none;
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    transition: all 0.3s ease-in-out
}

.boardNav > ul > li > a.selectedNode,
.boardNav > ul > li > a:hover {
    color: #000;
    background: #f9db22;
}

.boardNav > ul > li > a > i {
    width: 120px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.boardNav > ul > li > a > i.fa-caret-down {
    width: auto;
    padding: 0 15px;
}

.boardNav > ul > li > a > span {
    display: inline-block;
    font-size: 1.1875em;
}

.boardArea {
    float: left;
    flex: 1;
    background-color: #f9f9f9;
    color: #4c5e70;
    padding-top: 15px;
    padding-bottom: 50px;
}
.boardArea h2 { font-size:1.125em}
.boardArea p{ color: #a5adb6; font-size: 0.875em;}


.boardArea .cards {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 15px;
}
.dashboard footer {
    position:absolute;
    width: 100%;
    bottom:0;
    padding: 0 0 0 150px;
}
/* Dashboard Css */