<meta charset="utf-8">
<script src="../../../assets/js/d3.js"></script>
<script src="../../../assets/js/nv.d3.js"></script>

<link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

<div class="row">
    <div style="margin-top: 20px"><b>FIU ANALYST- DASHBOARD</b></div>
        <table>
            <tr>
                <td >

                    <nvd3-discrete-bar-chart data="exampleData"
                                             id="exampleId1"
                                             tooltipcontent="toolTipContentFunction()"
                                             Width="350"
                                             height="300"
                                             showlabels="true"
                                             showValues="true"
                                             showYAxis="true"
                                             tooltips="true">
                        <svg></svg>
                    </nvd3-discrete-bar-chart>

                </td>

                <td >

                    <nvd3-pie-chart data="exampleData1"
                                    id="exampleId2"
                                    x="xFunction()"
                                    y="yFunction()"
                                    Width="350"
                                    height="300"
                                    showlabels="true"
                                    showValues="true"
                                    labeltype="value"
                                    pieLabelsOutside="false"
                                    tooltips="true"
                                    tooltipcontent="toolTipContentFunction1()">

                        <svg></svg>
                    </nvd3-pie-chart>

                </td>
                <td >

                    <nvd3-discrete-bar-chart data="kpiData"
                                             id="exampleId3"
                                             tooltipcontent="toolTipContentFunction()"
                                             Width="350"
                                             height="300"
                                             showlabels="true"
                                             showValues="true"
                                             showYAxis="true"
                                             tooltips="true">
                        <svg></svg>
                    </nvd3-discrete-bar-chart>

                </td>
            </tr>
        </table>
   
    <div><input placeholder="Case quickSearch" type="text" ng-model="gridOptions.quickFilterText"/>
    </div>
    <div ag-grid="gridOptions" class="ag-fresh" style="height: 200px; margin-top: 4px; margin-bottom: 4px;"></div>
    <div><input placeholder="Alert quickSearch" type="text" ng-model="gridOptions1.quickFilterText"/>
    </div>

    <div ag-grid="gridOptions1" class="ag-fresh" style="height: 200px; margin-top: 4px; margin-bottom: 4px;"></div>

</div>
