<!DOCTYPE html>
<html>
<head>
    <title>Bar Chart</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <script src="../../../assets/js/d3.js"></script>
    <script src="../../../assets/js/nv.d3.js"></script>
    <script src="../../../assets/js/angularjs-nvd3-directives.js"></script>
    <link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

 
    <script src="chartController.js"></script>
</head>
<body ng-app='nvd3TestApp'>
<div ng-controller="ExampleCtrl1">
    <table>
        <tr>
            <td style="height: 350px; width: 400px;">
                <nvd3-discrete-bar-chart data="exampleData"
                                         id="exampleId"
                                         tooltipcontent="toolTipContentFunction()"
                                         Width="400"
                                         height="350"
                                         showlabels="true"
                                         showValues="true"
                                         showYAxis="true"
                                         tooltips="true">
                    <svg></svg>
                </nvd3-discrete-bar-chart>
            </td>
        </tr>
    </table>

        <table>
            <tr>
                <td style="height: 350px;width:400px;">
                    <nvd3-pie-chart data="exampleData1"
                                    id="exampleId1"
                                    x="xFunction()"
                                    y="yFunction()"
                                    Width="400"
                                    height="350"
                                    showlabels="true"
                                    showValues="true"
                                    labeltype="value"
                                    pieLabelsOutside="false"
                                    tooltips="true"
                                    tooltipcontent="toolTipContentFunction1()">
                        <svg></svg>
                    </nvd3-pie-chart>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>











