<meta charset="utf-8">
<script src="../../../assets/js/d3.js"></script>
<script src="../../../assets/js/nv.d3.js"></script>
<script src="../../../assets/libs/angularjs/angular.js"></script>
<script src="../../../assets/js/script.js"></script>
<link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

<div id="dashboard" class="dashboard">

    <div class="menuOverlay"></div>
    <!-- Dashboard Main Body -->
    <section class="mainBoard">

        <div class="boardArea">

            <div class="container-fluid">

                <!-- Dashboard Heading Text -->
                <div class="row marginZero topHeading">
                    <div class="col-md-12">
                        <h2>DUE DILIGENCE ANALYST - DASHBOARD</h2>
                        <p>Provides a snapshot of your open cases alerts for review.</p>
                    </div>

                </div>
                <ul class="row marginZero Charts">
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Items by Status</h2>

                            <nvd3-multi-bar-chart data="exampleData" id="exampleId1" Width="550" height="200" color="colorFunction1()" showXAxis="true" showYAxis="true" margin="{left:0,top:0,bottom:0,right:0}">
                                <svg></svg>
                            </nvd3-multi-bar-chart>

                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Aging Pie Chart</h2>
                            <select id="Select" ng-model="data" ng-change="BindPieChart(this)" style="margin-top: -60px; float: right">
                                <option value="" selected="selected">All</option>
                                <option value="Periodic Reviews">Periodic Reviews</option>
                                <option value="Onboarding Reviews">Onboarding Reviews</option>
                            </select>
                            <nvd3-pie-chart data="exampleData1" id="exampleId2" x="xFunction()" y="yFunction()" width="550" height="200" margin="{left:0,top:0,bottom:0,right:0}" showlabels="true" showValues="true" labeltype="percent" donutLabelsOutside="true" tooltips="true" donutRatio=".40" color="colorFunction()" tooltipcontent="toolTipContentFunction1()" donut="true">

                                <svg></svg>
                            </nvd3-pie-chart>

                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="cards">
                            <h2>Quality Score by Quality KPI</h2>

                            <div class="qualityScore">
                                <div class="qualityScoreGraph"><span style="color: #f9db22;font-size: 1.25vw;font-style: normal;font-weight: 500;line-height: 26.4px">{{kpidashData.kpiChart.chartData.DecisionQuality}}%</span><br /><b>Decision Quality</b></div>
                                <div class="qualityScoreGraph"><span style="color: #f9db22;font-size: 1.25vw;font-style: normal;font-weight: 500;line-height: 26.4px">{{kpidashData.kpiChart.chartData.AnalyticQuality}}%</span><br /><b>Analytic Quality</b></div>
                                <div class="qualityScoreGraph"><span style="color: #f9db22;font-size: 1.25vw;font-style: normal;font-weight: 500;line-height: 26.4px">{{kpidashData.kpiChart.chartData.TechnicalQuality}}%</span><br /><b>Technical Quality</b></div>
                                <div class="qualityScoreGraph"><span style="color: #f9db22;font-size: 1.25vw;font-style: normal;font-weight: 500;line-height: 26.4px">{{kpidashData.kpiChart.chartData.ResearchQuality}}%</span><br /><b>Research Quality</b></div>
                            </div>

                        </div>
                    </li>

                </ul>

                <div class="row marginZero">
                    <div class="col-md-12">
                        <div class="girdBox">
                            <div class="gridSearch">
                                <div class="searchInput active">
                                    <input type="text" placeholder="Quick Search" ng-model="gridOptions.quickFilterText" />
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="searchInput">
                                    <input type="text" placeholder="Quick Search" ng-model="gridOptions1.quickFilterText" />
                                    <i class="fa fa-search"></i>
                                </div>


                            </div>

                            <tabs>
                                <pane icon="fa fa-file-text-o" title="Onboarding Reviews ({{totalRows}})">
                                    <div ag-grid="gridOptions" class="ag-fresh" style="height: 520px; width: 100%"></div>
                                </pane>
                                <pane icon="fa fa-bell" title="Periodic Reviews ({{totalRowsCount}})">
                                    <div ag-grid="gridOptions1" class="ag-fresh" style="height: 520px; width: 100%"></div>
                                </pane>
                            </tabs>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>

