<!--<meta charset="utf-8">
<script src="../../assets/js/d3.js"></script>
<script src="../../assets/js/nv.d3.js"></script>
<script src="../../assets/libs/angularjs/angular.js"></script>
<script src="../../assets/js/script.js"></script>
<link href="../../assets/css/nv.d3.css" rel="stylesheet" />-->

<div id="dashboard" class="dashboard">
    <section>
        <div ui-view="header"></div>
    </section>

    <section>
        <section>
            <div ui-view="menu"></div>
        </section>

        <section>
            <div ui-view="main"></div>
        </section>

    </section>

    <section>
        <div ui-view="footer"></div>
    </section>
</div>