<meta charset="utf-8">
<script src="../../../assets/js/d3.js"></script>
<script src="../../../assets/js/nv.d3.js"></script>
<script src="../../../assets/libs/angularjs/angular.js"></script>
<script src="../../../assets/js/script.js"></script>
<link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

<section id="caseDetail">
    <section class="mainBoard">
        <div class="boardArea">
            <div class="container-fluid">
               <!-- Dashboard Heading Text -->
                <div class="row marginZero topHeading">
                    <div class="col-md-12">
                        <h2>Case Details</h2>
                        <p>Provides a snapshot of your open cases and alerts for review.</p>
                    </div>
                </div>
                <div>
                    <table class="caseDetailRow1 sectionShadow rowSec" style="width: 100%;">
                        <thead style="width: 100%">
                            <th style="width: 50%"></th>
                            <th style="width: 12%">Case Type</th>
                            <th style="width: 12%">Open Date</th>
                            <th style="width: 12%">Due Date</th>
                            <th style="width: 12%">Case Status</th>
                        </thead>
                        <tr style="width: 100%">
                            <td style="width: 50%">
                                <div>
                                    <h2 class="ag-fresh ag-cell rag-initial" ng-class="caseInititalDataS.score<=33.33?'rag-green': caseInititalDataS.score>33.33 && caseInititalDataS.score<=66.66?'rag-amber':'rag-red'">{{caseInititalDataS.shortname}}</h2>
                                </div>

                                <b>{{caseDetailgridOptions.caseTitle}}</b> - {{caseDetailgridOptions.id}}
                                <br/> {{caseDetailgridOptions.accountType}} - {{caseDetailgridOptions.accountNumber}}
                            </td>
                            <td style="width: 12%">{{caseDetailgridOptions.caseType}}</td>
                            <td style="width: 12%">{{caseDetailgridOptions.caseOpenDate}}</td>
                            <td style="width: 12%">{{caseDetailgridOptions.dueDate}}</td>
                            <td style="width: 12%">
                                <select ng-model="selectedCaseStatus" ng-options="status as status for status in caseStatus"></select>
                            </td>
                        </tr>
                    </table>
                    <div class="caseDetailRow2 displayFlex rowSec">
                        <div class="caseChecklist flex1 sectionShadow">
                            <h4>Case Checklist</h4>
                            <ul>
                                <li ng-repeat="caseCheckListItem in caseDetailgridOptions.caseCheckListItems">
                                    <input type="checkbox" id="chkCaseChecklist{{$index+1}}" ng-checked="caseCheckListItem.isComplete==true" />{{caseCheckListItem.caseChecklistName}}
                                </li>
                            </ul>
                        </div>

                        <div class="flex1 caseDocumentTabs sectionShadow">
                            <entity-tabs-one>
                                <entity-pane-one tab-title="Document Center">
                                    <div class="documentCenterS customScrollBar" style="height: 16.5625em;">
                                        <div ag-grid="DocumentCenterGrid" class="ag-fresh" style="width: 100%" />
                                    </div>
                                    <footer class="displayFlex docsFooter">
                                        <a class="selectorClass" href="" ng-click="openAddPopup($event, 'document')"><i class="fa fa-plus"></i></a>
                                    </footer>
                                    <div data-type="document" class="addPopup">
                                        <form name="DocumentCenterForm">
                                            <div class="displayFlex">
                                                <span class="fileUploadName flex1"><label ng-show="IsFileSelected" class="">{{FileName}} </label></span>
                                                <input type="file" ngf-select ng-model="picFile" name="file" accept="'.pdf','.docx','.doc','.txt'" onchange="angular.element(this).scope().file_changed(this)">
                                            </div>
                                            <input type="text" class="form-control flex1" placeholder="File Description" ng-model="FileDesc" id="FileDesc">
                                            <button ng-click="AddDocument(FileDesc)">Submit</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                                <entity-pane-one tab-title="Notes">
                                    <div ag-grid="NotesGrid" class="notesGrid ag-fresh" style="width: 100%" />
                                    <footer class="displayFlex docsFooter">
                                        <a class="selectorClass" href="" ng-click="openAddPopup($event, 'notes')"><i class="fa fa-plus"></i></a>
                                    </footer>
                                    <div data-type="notes" class="addPopup">
                                        <!--<a href="#" class="closePopup" ng-click="closePopup()"><i class="fa fa-times"></i></a>-->
                                        <form name="NotesForm">
                                            <input type="text" class="form-control" placeholder="Notes Title" ng-model="NotesTitle" id="NotesTitle">
                                            <!--<input type="text" class="form-control" placeholder="Notes Data" ng-model="NotesData" id="NotesData">-->
                                            <textarea type="text" class="form-control" rows="4" cols="50" placeholder="Notes Data" ng-model="NotesData" id="NotesData"></textarea>


                                            <button ng-click="AddNotes(NotesTitle,NotesData)">Save</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                                <entity-pane-one tab-title="Tasks">
                                    <div ag-grid="TasksGrid" class="ag-fresh taskGrid" style="width: 100%">
                                    </div>
                                    <footer class="displayFlex docsFooter">
                                        <a class="selectorClass" href="" ng-click="openAddPopup($event, 'task')"><i class="fa fa-plus"></i></a>
                                        <a class="selectorClass" href="" ng-click="CompletedTask()"><i class="fa fa-check"></i></a>
                                        <a class="selectorClass" href="" ng-click="RemoveTask()"><i class="fa fa-times"></i></a>
                                    </footer>
                                    <div data-type="task" class="addPopup">
                                        <form name="TasksForm">
                                            <!--<input type="text" class="form-control" placeholder="Task" ng-model="Task" id="Task">-->

                                            <textarea type="text" class="form-control" rows="4" cols="50" placeholder="Task" ng-model="Task" id="Task"></textarea>

                                            <button ng-disabled="!TasksForm.$valid" ng-click="AddTask(Task)">Save</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                            </entity-tabs-one>
                        </div>
                    </div>

                    <div class="addEditSummaryWindow" style="display: none;">
                        <div class="addEditSummaryPopup">
                            <h2><span>{{popuppage=='Review'? 'Review related Alerts and Cases Section Comments:' : popuppage=='Analyze'? 'Analyze Alerted Transactions Section Comments:' : 'Conduct Due Diligence Section Comments'}}</span></h2>
                            <form name="addEditSummaryForm">
                                <table>
                                    <tr>
                                        <td>
                                            <textarea rows="4" cols="50" class="form-control" placeholder="Summary" ng-model="summaryData"></textarea>
                                        </td>

                                    </tr>
                                </table>
                                <button ng-click="saveSummary()">Save</button>
                                <button ng-click="closeaddEditSummaryPopup()">Close</button>

                            </form>
                        </div>
                    </div>
                    <div>
                        <h4>Review related Alerts and Cases</h4>
                        <button ng-click="addEditSummary($event,'Review')"><span>{{ (ReviewSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
                        <div ag-grid="relatedCasesAndAlertsOptions" class="ag-fresh" style="height: 365px; width: 100%"></div>
                    </div>
                    <div>
                        <h4>Analyze Alerted Transactions</h4>
                        <button id="ExportToExcel" type="button" value="Monthly Transactions - Export XLS" ng-click="ExportToExcel()" >Monthly Transactions - Export XLS</button>
                        <button ng-click="addEditSummary($event,'Analyze')"><span>{{ (AnalyzeSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
                        <div ag-grid="alertedTransactionsOptions" class="ag-fresh" style="height: 520px; width: 100%"></div>
                    </div>
                    <div>
                        <h4>Conduct Due Diligence</h4>
                        <button ng-click="addEditSummary($event,'Conduct')"><span>{{ (ConductSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
                        <div ag-grid="accountgridOptions" class="ag-fresh" style="height: 220px; width: 100%"></div>
                    </div>

                   <div style="width: 100%">
           <h4>Case Summary Wizard</h4>
           <div style="width: 33%; float: left">
               <h4>Review related Alerts and Cases Section Comments:</h4>
               <textarea style="width: 364px; height: 281px;" ng-disabled="reviewcaseSummary" ng-model="ReviewSummaryData"></textarea>
               <button ng-click="addEditCaseSummary($event,'Review')" ng-show="reviewcaseSummary"><span>{{ (ReviewSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
               <button ng-click="saveCaseSummary('Review')" ng-hide="reviewcaseSummary" >Save Summary</button>
           </div>
           <div style="width: 33%; margin-left: 600px;margin-top: 20px" >
               <h4>Analyze Alerted Transactions Section Comments:</h4>
               <textarea style="width: 364px; height: 281px;" ng-disabled="analyzecaseSummary" ng-model="AnalyzeSummaryData"></textarea>
               <button ng-click="addEditCaseSummary($event,'Analyze')" ng-show="analyzecaseSummary"><span>{{ (AnalyzeSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
               <button ng-click="saveCaseSummary('Analyze')" ng-hide="analyzecaseSummary">Save Summary</button>
           </div>
           <div style="width: 33%; float: right; margin-top: -326px">
               <h4>Conduct Due Diligence Section Comments:</h4>
               <textarea style="width: 364px; height: 281px;" ng-disabled="conductcaseSummary" ng-model="ConductSummaryData"></textarea>
               <button ng-click="addEditCaseSummary($event,'Conduct')" ng-show="conductcaseSummary"><span>{{ (ConductSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
               <button ng-click="saveCaseSummary('Conduct')" ng-hide="conductcaseSummary">Save Summary</button>
           </div>
       </div>
  
   <div style="width: 100%">
       <h4>Decision Summary</h4>
       <textarea style="width: 95%; height: 187px;" ng-disabled="decisioncaseSummary" ng-model="DecisionSummaryData"></textarea>
       <button ng-click="addEditDecisionSummary($event)" ng-show="decisioncaseSummary"><span>{{ (DecisionSummaryData!=null)? 'Edit Summary' : 'Write Summary'}}</span></button>
       <button ng-click="saveDecisionSummary()" ng-hide="decisioncaseSummary">Save Summary</button>  
   </div>
                </div>
            </div>
        </div>
    </section>
</section>
