<meta charset="utf-8">
<script src="../../../assets/js/d3.js"></script>
<script src="../../../assets/js/nv.d3.js"></script>
<script src="../../../assets/libs/angularjs/angular.js"></script>
<script src="../../../assets/js/script.js"></script>
<link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

<section id="entityDetail">
    <section class="mainBoard">
        <div class="boardArea">
            <div class="container-fluid">
                <div class="row marginZero">
                    <div class="col-md-12 pageHeading displayFlex">
                        <div class="">
                            <h2>Entity Detail</h2>
                        </div>
                        <div class="displayFlex">
                            <a href ng-if="eventDate" ng-click="Refresh();" class="ovalButton yellowButton iconButton">
                                <span>{{eventDate}}</span>
                                <i class="fa fa-times"></i>
                            </a>
                            <a href class="ovalButton yellowButton iconButton hideShowClass" ng-click="save()">
                                <i class="fa fa-floppy-o"></i>
                                <span>Save &amp; Refresh</span>
                            </a>
                            <a href class="ovalButton yellowButton iconButton hideShowClass" ng-click="save()">
                                <i>
                                    <img src="/assets/img/icon5.png" class="img-responsive" alt="">
                                </i>
                                <span>Reprocess</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="addNewCardWin" style="display: none;">
                    <div class="addPersonaPopup">
                        <h2>ADD PERSONA DETAILS</h2>

                        <form name="PersonaForm">
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="ID" ng-model="personaId" />
                                    </td>
                                    <td>
                                        <select class="form-control" name="ddlIdtype" ng-model="personaIdType"
                                                ng-options="type.type for type in IdType">
                                            <option value="">ID Type</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="First Name" ng-model="personaFirstName" ng-required="(personaLastName!=null && personaLastName!='')" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Last Name" ng-model="personaLastName" ng-required="(personaFirstName!=null && personaFirstName!='')" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Street 1" ng-model="personaStreet1" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Street 2" ng-model="personaStreet2" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="City" ng-model="personaCity" ng-required="(personaStreet1!=null && personaStreet1!='')" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="State" ng-model="personaState" ng-required="((personaStreet1!=null && personaStreet1!='')||(personaCity!=null && personaCity!=''))" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="number" class="form-control" placeholder="Zip Code" ng-model="personaZipCode" ng-required="((personaStreet1!=null && personaStreet1!='')||(personaCity!=null && personaCity!=''))" />
                                    </td>
                                    <td>

                                        <select class="form-control" name="ddlCountry" ng-model="personaCountry" ng-required="((personaStreet1!=null && personaStreet1!='')||(personaCity!=null && personaCity!=''))"
                                                ng-options="c.Key for c in Country">
                                            <option value="">Country</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="number" class="form-control" placeholder="Phone No" ng-model="personaPhoneNo">
                                    </td>
                                    <td>
                                        <input type="email" class="form-control" placeholder="Email Address" ng-model="personaEmail">
                                    </td>
                                </tr>
                            </table>
                            <button ng-click="addPersona()">Save</button>
                            <button ng-click="closePersonaPopup()">Close</button>

                        </form>
                    </div>
                </div>

                <div class="row displayFlex entityRow1">
                    <div class="col-md-2">
                        <div class="entityDetailCards">
                            <div class="entityCard active" ng-class="primaryDatas.score<=33.33?'cardGrey': primaryDatas.score>33.33 && primaryDatas.score<=66.66?'cardYellow':'cardRed'">
                                <span class="cardsCounter yellowButton" ng-hide="newcardcount==0">{{newcardcount}}</span>
                                <a href="" class="hideShowClass" ng-click="addNewPersonas($event)"><span class="addNewCard"><i class="fa fa-plus"></i></span></a>

                                <div class="text-center">
                                    <h2 class="nameInitial">{{primaryDatas.shortname}}</h2>
                                </div>
                                <h2 class="text-center riskScore">{{primaryDatas.score|number:2}}</h2>
                                <h3 class="text-center">{{primaryDatas.risktype}}</h3>
                            </div>
                            <div class="entityCard" ng-class="cardData.active && cardData.new?'secCardWhite': cardData.active ?'secCardGrey':'secCardLightgrey'" ng-repeat="cardData in cardDatas">
                                <span class="headSource">{{cardData.source}}</span>
                                <span class="cardsCounter yellowButton" ng-hide="newcardcount==0">{{newcardcount}}</span>
                                <a href="" class="hideShowClass" ng-click="addNewPersonas($event)"><span class="addNewCard"><i class="fa fa-plus"></i></span></a>
                                <div class="text-center">
                                    <h2 class="nameInitial">{{cardData.shortname}}</h2>
                                </div>
                                <div class="newToggleButton">
                                    <div class="button">
                                        <span ng-click="toggle(cardData.active,cardData.new,cardData.email,'on');" ng-class="cardData.active && !cardData.new?'active':''">ON</span>
                                        <span ng-click="toggle(cardData.active,cardData.new,cardData.email,'new');" ng-class="cardData.active && cardData.new?'active':''">NEW</span>
                                        <span ng-click="toggle(cardData.active,cardData.new,cardData.email,'off');" ng-class="!cardData.active && !cardData.new?'active':''">OFF</span>
                                    </div>
                                </div>
                                <address>
                                    <div class="displayFlex">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <p>{{cardData.address}}</p>
                                    </div>
                                    <div class="displayFlex">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                        <p>{{cardData.email}}</p>
                                    </div>
                                    <div class="displayFlex">
                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                        <p>{{cardData.phone}}</p>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="cardNav">
                            <a href ng-click="cardPrev()" class="pull-left cardPrev"><i class="fa fa-angle-left"></i><span>Prev</span></a>
                            <a href ng-click="cardNext()" class="pull-right cardNext"><span>next</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <article>
                            <h3>{{entityDetail.personBaseData.firstName}} {{entityDetail.personBaseData.lastName}}</h3>
                            <address>
                                <div class="displayFlex">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <p>{{entityDetail.personBaseData.address.street1}}, {{entityDetail.personBaseData.address.city}}, {{entityDetail.personBaseData.address.state}} {{entityDetail.personBaseData.address.zipcode}}</p>
                                </div>
                                <div class="displayFlex">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <p>{{entityDetail.personBaseData.email}}</p>
                                </div>
                                <div class="displayFlex">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                    <p>{{entityDetail.personBaseData.phone}}</p>
                                </div>
                            </address>
                            <p></p>
                        </article>
                        <article class="entityAccounts">
                            <h3>Associated Accounts</h3>
                            <div ag-grid="accountgridOptions" class="ag-fresh"></div>
                        </article>
                    </div>
                    <div class="col-md-4 entityInfoTabs">
                        <div class="sectionShadow">
                            <entity-tabs-one>
                                <entity-pane-one tab-title="Document Center">
                                    <div class="documentCenterS customScrollBar" style="height: 16.5625em;">
                                        <div ag-grid="DocumentCenterGrid" class="ag-fresh" style="width: 100%" />
                                    </div>
                                    <footer class="displayFlex docsFooter">
                                        <a class="hideShowClass" href="" ng-click="openAddPopup($event, 'document')"><i class="fa fa-plus"></i></a>
                                    </footer>
                                    <div data-type="document" class="addPopup">
                                        <form name="DocumentCenterForm">
                                            <div class="displayFlex">
                                                <span class="fileUploadName flex1"><label ng-show="IsFileSelected" class="">{{FileName}} </label></span>
                                                <input type="file" ngf-select ng-model="picFile" name="file" accept="'.pdf','.docx','.doc','.txt'" onchange="angular.element(this).scope().file_changed(this)">
                                            </div>
                                            <input type="text" class="form-control flex1" placeholder="File Description" ng-model="FileDesc" id="FileDesc">
                                            <button ng-click="AddDocument(FileDesc)">Submit</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                                <entity-pane-one tab-title="Notes">
                                    <div ag-grid="NotesGrid" class="notesGrid ag-fresh" style="width: 100%" />
                                    <footer class="displayFlex docsFooter">
                                        <a class="hideShowClass" href="" ng-click="openAddPopup($event, 'notes')"><i class="fa fa-plus"></i></a>
                                    </footer>
                                    <div data-type="notes" class="addPopup">
                                        <!--<a href="#" class="closePopup" ng-click="closePopup()"><i class="fa fa-times"></i></a>-->
                                        <form name="NotesForm">
                                            <input type="text" class="form-control" placeholder="Notes Title" ng-model="NotesTitle" id="NotesTitle">
                                            <!--<input type="text" class="form-control" placeholder="Notes Data" ng-model="NotesData" id="NotesData">-->
                                            <textarea type="text" class="form-control" rows="4" cols="50" placeholder="Notes Data" ng-model="NotesData" id="NotesData"></textarea>


                                            <button ng-click="AddNotes(NotesTitle,NotesData)" class="showNotes">Save</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                                <entity-pane-one tab-title="Tasks">
                                    <div ag-grid="TasksGrid" class="ag-fresh taskGrid" style="width: 100%">
                                    </div>
                                    <footer class="displayFlex docsFooter">
                                        <a class="hideShowClass" href="" ng-click="openAddPopup($event, 'task')"><i class="fa fa-plus"></i></a>
                                        <a class="hideShowClass" href="" ng-click="CompletedTask()"><i class="fa fa-check"></i></a>
                                        <a class="hideShowClass" href="" ng-click="RemoveTask()"><i class="fa fa-times"></i></a>
                                    </footer>
                                    <div data-type="task" class="addPopup">
                                        <form name="TasksForm">
                                            <!--<input type="text" class="form-control" placeholder="Task" ng-model="Task" id="Task">-->

                                            <textarea type="text" class="form-control" rows="4" cols="50" placeholder="Task" ng-model="Task" id="Task"></textarea>

                                            <button ng-disabled="!TasksForm.$valid" ng-click="AddTask(Task)">Save</button>
                                            <button ng-click="closePopup()">Close</button>
                                        </form>
                                    </div>
                                </entity-pane-one>
                            </entity-tabs-one>
                        </div>
                    </div>
                </div>
                <div class="row rowSec entityRiskTabs">
                    <div class="col-md-12">
                        <div class="sectionShadow">
                            <entity-tabs-two>
                                <entity-pane-two icon="fa fa-sort-amount-asc" tab-title="Attribute Risk">
                                    <div class="riskData">
                                        <div class="dnaHead" ng-mouseover="showPopover($event)" ng-mouseleave="hidePopover()" ng-repeat="dna in entityDetail.riskDNA.sequences" ng-if="dna.sequenceType=='ATTRIBUTE'">

                                            <div ng-style="{'width':'{{sequenceWidth/dna.genes.length}}px','height': '1.47em'}" ng-repeat="gene in dna.genes">
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'float':'left', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-init="type='ATTRIBUTE'" ng-init="type='ATTRIBUTE'" ng-mouseover="showPopoverGene($index, $event, type)" ng-mouseleave="hidePopoverGene($index, $event, type)" data-row-type="ATTRIBUTE">&nbsp;</div>
                                                <div class="dataPopdown" style="position: absolute;z-index: 100" ng-show="popoverIsVisibleGene">{{gene.geneName}} | {{gene.geneValue}} | {{gene.geneScore}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <article class="tabContent attributeRiskGrid customScrollBar">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="tabGrid" ng-repeat="seq in entityDetail.riskDNA.sequences" ng-if="seq.sequenceType=='ATTRIBUTE' ">
                                                    <div class="attributeRiskLeft">
                                                        <li class="tabRow tabRowLeft" ng-repeat="gene in seq.genes|limitTo:seq.genes.length/2+seq.genes.length%2">
                                                            <div class="displayFlex">
                                                                <div class="tabCell">
                                                                    <div class="cellItem displayFlex">
                                                                        <h4 class="flex1">{{gene.geneName}}</h4>
                                                                    </div>
                                                                </div>
                                                                <div class="tabCell">
                                                                    <div class="cellItem displayFlex">
                                                                        <h4 class="flex1">{{gene.geneValue}}</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                    <div class="attributeRiskRight">
                                                        <li class="tabRow tabRowRight" ng-repeat="gene in seq.genes|limitTo: -(seq.genes.length-seq.genes.length/2)">
                                                            <div>
                                                                <div class="displayFlex">
                                                                    <div class="tabCell">
                                                                        <div class="cellItem displayFlex">
                                                                            <h4 class="flex1">{{gene.geneName}}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tabCell">
                                                                        <div class="cellItem displayFlex">
                                                                            <h4 class="flex1">{{gene.geneValue}}</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </entity-pane-two>
                                <entity-pane-two icon="fa fa-clock-o" tab-title="Watchlist Risk">
                                    <div class="riskData">
                                        <div class="dnaHead" ng-mouseover="showPopover($event)" ng-mouseleave="hidePopover()" ng-repeat="dna in entityDetail.riskDNA.sequences" ng-if="dna.sequenceType=='WATCHLIST'">

                                            <div ng-style="{'width':'{{sequenceWidth/dna.genes.length}}px','height': '1.47em'}" ng-repeat="gene in dna.genes">
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-mouseover="showPopoverGene($index, $event, type)" ng-init="type='WATCHLIST'" ng-mouseleave="hidePopoverGene($index, $event, type)" data-row-type="WATCHLIST">&nbsp;</div>
                                                <div class="dataPopdown" style="position: absolute;z-index: 100" ng-show="popoverIsVisibleGene">{{gene.geneName}} | {{gene.geneValue}} | {{gene.geneScore}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div style="float: left;width: 60%" class="watchListSec">
                                        <header class="watchListTitle sectionHeading displayFlex">
                                            <h3 class="flex1 marginZero">Watchlist Hits</h3>
                                        </header>
                                        <div ag-grid="watchListGridOptions" class="watchListGrid ag-fresh"></div>
                                    </div>
                                    <div style="float: right;width: 40%" class="PepHitsSec">
                                        <header class="watchListTitle sectionHeading displayFlex">
                                            <h3 class="flex1 marginZero">Pep Hits</h3>
                                        </header>
                                        <div ag-grid="pepHitsGridOptions" class="pepHitsGrid ag-fresh"></div>
                                    </div>
                                </entity-pane-two>
                                <entity-pane-two icon="fa fa-newspaper-o" tab-title="Negative News Risk">
                                    <div class="riskData">
                                        <div class="dnaHead" ng-mouseover="showPopover($event)" ng-mouseleave="hidePopover()" ng-repeat="dna in entityDetail.riskDNA.sequences" ng-if="dna.sequenceType=='NEGATIVENEWS'">

                                            <div ng-style="{'width':'{{sequenceWidth/dna.genes.length}}px','height': '1.47em'}" ng-repeat="gene in dna.genes">
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-init="type='NEGATIVENEWS'" ng-mouseover="showPopoverGene($index, $event, type)" ng-mouseleave="hidePopoverGene($index, $event, type)" data-row-type="NEGATIVENEWS">&nbsp;</div>
                                                <div class="dataPopdown" style="position: absolute;z-index: 100" ng-show="popoverIsVisibleGene">{{gene.geneName}} | {{gene.geneValue}} | {{gene.geneScore}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div ag-grid="alertgridOptions" class="ag-fresh">
                                        <article class="tabContent negativeRisk">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <header class="sectionHeading displayFlex">
                                                        <h3 class="flex1 marginZero">Adverse Keywords</h3>
                                                    </header>
                                                    <nvd3-pie-chart data="adverseKeywordData" objectEquality="true" id="adverseKeywordData" x="xFunction()" y="yFunction()"
                                                                    width="400" height="200" margin="{right:0,left:0,top:0,bottom:0}" showlabels="true" showValues="true"
                                                                    labeltype="percent" donutLabelsOutside="true" donutRatio=".40"
                                                                    color="colorFunction()" tooltips="true" tooltipcontent="showToolTipInPieChart()" donut="true">
                                                        <svg></svg>
                                                    </nvd3-pie-chart>
                                                </div>
                                                <div class="ag-fresh" ag-grid="negativeRiskGridOptions"></div>

                                                <div data-type="negativeNewsRisk" class="addPopup negativeNewsRisk">
                                                    <article class="popupContent">
                                                        <div>
                                                            <div class="newsPopHead">
                                                                <div id="negativeNewsRiskHeaderTitle"></div>
                                                                <div id="negativeNewsRiskUrl"></div>
                                                                <div id="negativeNewsRiskDoa"></div>
                                                            </div>
                                                            <div id="negativeNewsRiskTitle"></div>
                                                            <div id="negativeNewsRiskText"></div>
                                                        </div>
                                                        <button ng-click="closePopup()">Close</button>
                                                    </article>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </entity-pane-two>
                                <entity-pane-two icon="fa fa-clock-o" tab-title="Network Risk">
                                    <div class="riskData">
                                        <div class="dnaHead" class="dnaHead" ng-mouseover="showPopover($event)" ng-mouseleave="hidePopover()" ng-repeat="dna in entityDetail.riskDNA.sequences" ng-if="dna.sequenceType=='NETWORK'">

                                            <div ng-style="{'width':'{{sequenceWidth/dna.genes.length}}px','height': '1.47em'}" ng-repeat="gene in dna.genes">
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-init="type='NETWORK'" ng-mouseover="showPopoverGene($index, $event, type)" ng-mouseleave="hidePopoverGene($index, $event, type)" data-row-type="NETWORK">&nbsp;</div>
                                                <div class="dataPopdown" style="position: absolute;z-index: 100" ng-show="popoverIsVisibleGene">{{gene.geneName}} | {{gene.geneValue}} | {{gene.geneScore}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="networkData">
                                        <img src="../../../assets/img/network-img.jpg" class="img-responsive" alt="">
                                    </div>

                                </entity-pane-two>
                                <entity-pane-two icon="fa fa-credit-card" tab-title="Activity Risk">
                                    <div class="riskData">
                                        <div class="dnaHead" ng-mouseover="showPopover($event)" ng-mouseleave="hidePopover()" ng-repeat="dna in entityDetail.riskDNA.sequences" ng-if="dna.sequenceType=='ACTIVITY'">

                                            <div ng-style="{'width':'{{sequenceWidth/dna.genes.length}}px','height': '1.47em'}" ng-repeat="gene in dna.genes">
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-mouseover="showPopoverGene($index, $event,  'ACCOUNT')" ng-mouseleave="hidePopoverGene($index, $event, 'ACCOUNT')" data-row-type="ACTIVITY" ng-show="gene.geneName=='Account Type'">&nbsp;</div>
                                                <div ng-style="{'border-left': '1px solid white','background-color': '{{(gene.geneScore>=0 && gene.geneScore<=33.33)?'gray':((gene.geneScore>33.33 && gene.geneScore<=66.66)?'yellow':'red')}}','height': '1.47em', 'width':'{{sequenceWidth/dna.genes.length}}px'}" ng-mouseover="showPopoverGene($index, $event, 'TRANSACTION')" ng-mouseleave="hidePopoverGene($index, $event, 'TRANSACTION')" data-row-type="ACTIVITY" ng-show="gene.geneName !='Account Type'">&nbsp;</div>

                                                <div class="dataPopdown" style="position: absolute;z-index: 100" ng-show="popoverIsVisibleGene">{{gene.geneName}} | {{gene.geneValue}} | {{gene.geneScore}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div ag-grid="activityRiskGridOptions" class="ag-fresh"></div>
                                </entity-pane-two>
                            </entity-tabs-two>
                        </div>
                    </div>
                </div>
                <div class="row rowSec">
                    <div class="col-md-12">
                        <article class="sectionPadding">
                            <header class="sectionHeading displayFlex">
                                <h3 class="flex1 marginZero">Risk DNA Over Time</h3>
                                <a href="javascript:void()" ng-click="slideToggleSec($event)" class="slideToggleSec"><i class="fa fa-chevron-up"></i></a>
                            </header>
                            <div class="toggleSec riskDnaGraph">
                                <nvd3-line-chart data="riskDnaLog"
                                                 width="1750"
                                                 height="400"
                                                 showxaxis="true"
                                                 showyaxis="true"
                                                 xaxistickformat="xAxisTickFormatFunction()"
                                                 color="colorFunctionRiskDna()"
                                                 interactive="true"
                                                 tooltips="true"
                                                 tooltipcontent="toolTipContentFunction()"
                                                 margin="{bottom:100}" ticks="[5]">
                                </nvd3-line-chart>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row rowSec">
                    <div class="col-md-12">
                        <article class="sectionPadding">
                            <header class="sectionHeading displayFlex">
                                <h3 class="flex1 marginZero">Change Log</h3>
                                <a href="javascript:void()" ng-click="slideToggleSec($event)" class="slideToggleSec"><i class="fa fa-chevron-up"></i></a>
                            </header>
                            <div class="toggleSec">
                                <div class="changeLogGrid">
                                    <div ag-grid="changeLogGridOptions" class="ag-fresh" style="height: 29em;"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
