<!DOCTYPE html>
<html ng-app="riskCanvasApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../../assets/js/d3.js"></script>
    <script src="../../../assets/js/nv.d3.js"></script>
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import jQuery before materialize.js-->
    <!-- Application Dependencies -->
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <script src="../../../assets/libs/angularjs/angular-ui-router.js"></script>
    <script src="../../../assets/js/angularjs-nvd3-directives.js"></script>
    <script src="../../../assets/libs/angularjs/angular-grid.js?ignore=notused5"></script>

    <!-- Application Scripts -->
    <!--<script src="app/shared/header/headerController.js"></script>-->

    <script src="RiskDnaController.js"></script>

    <!-- Application Css -->
    <link href="../../../assets/css/angular.grid.css?ignore=notused5" rel="stylesheet" />
    <link href="../../../assets/css/theme-fresh.css?ignore=notused5" rel="stylesheet" />

</head>
<body ng-controller="RiskDnaCtrl">



    <div>

        <nvd3-line-with-focus-chart data="riskDnaLog"
                                    id="riskDnaLog"
                                    width="1750"
                                    height="400"
                                    height2="50"
                                    margin="{left:80,top:50,bottom:30,right:50}"
                                    xAxisTickFormat="xAxisTickFormatFunction()"
                                    x2AxisTickFormat="xAxisTickFormatFunction()"
                                    isArea="true"
                                    color="colorFunction()"
                                    tooltips="true"
                                    tooltipcontent="toolTipContentFunction()"
                                    forcey="[20]"
                                    interactive="true">
            <svg></svg>
        </nvd3-line-with-focus-chart>

        <nvd3-stacked-area-chart data="riskDnaLog"
                                 width="1750"
                                 height="400"
                                 showXAxis="true"
                                 showYAxis="true"
                                 xAxisTickFormat="xAxisTickFormatFunction()"
                                 color="colorFunction()"
                                 interactive="true"
                                 tooltips="true"
                                 tooltipcontent="toolTipContentFunction()">
        </nvd3-stacked-area-chart>



        <div ag-grid="changeLogGridOptions" class="ag-fresh" style="height: 520px; width: 100%"></div>

    </div>

</body>
</html>
