<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>-->
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <script src="../../../assets/libs/angularjs/angular-resource.js"></script>

    <!-- you don't need ignore=notused in your code, this is just here to trick the cache -->
    <script src="../../../assets/libs/angularjs/angular-grid.js?ignore=notused5"></script>
   

    <link href="../../../assets/css/angular.grid.css?ignore=notused5" rel="stylesheet"/>
    <link href="../../../assets/css/theme-fresh.css?ignore=notused5" rel="stylesheet"/>

    <script src="../../../assets/js/d3.js"></script>
    <script src="../../../assets/js/nv.d3.js"></script>
    <script src="../../../assets/js/angularjs-nvd3-directives.js"></script>
    <link href="../../../assets/css/nv.d3.css" rel="stylesheet"/>

    <script src="managerDashboardController.js"></script>
</head>
<body ng-app="managerDashboard" ng-controller="managerDashboardController">

    <b>MANAGER DASHBORD</b>
<table style="border: none; width: 95%">
    
    <tr>
        <td style="width: 32%"></td>
        <td style="width: 1%"></td>
        <td style="width: 34%; height: 250px" align="center">
            <h4>Production Output past 30 days Bar chart</h4>
            <nvd3-discrete-bar-chart data="productionData"
                                     id="productionDataId"
                                     tooltipcontent="toolTipContentFunction()"
                                     Width="300"
                                     height="250"
                                     showlabels="true"
                                     showValues="true"
                                     showYAxis="true"
                                     tooltips="true">
                <svg></svg>
            </nvd3-discrete-bar-chart>
        </td>
        <td style="width: 1%"></td>
        <td style="width: 32%"></td>
    </tr>

   <tr>
        <td style="border: solid; width: 32%" align="center">
           <h4>Reviews by Status</h4>
            <nvd3-discrete-bar-chart data="statusData"
                                     id="statusData"
                                     tooltipcontent="toolTipContentFunction()"
                                     Width="300"
                                     height="250"
                                     showlabels="true"
                                     showValues="true"
                                     showYAxis="true"
                                     tooltips="true">
                <svg></svg>
            </nvd3-discrete-bar-chart>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 34%" align="center">
            <h4>Aging Pie Chart</h4>
            <nvd3-pie-chart data="ageingData"
                            id="ageingData"
                            x="xFunction()"
                            y="yFunction()"
                            Width="300"
                            height="250"
                            showlabels="true"
                            showValues="true"
                            labeltype="value"
                            pieLabelsOutside="false"
                            tooltips="true"
                            tooltipcontent="toolTipContentFunction1()">

                <svg></svg>
            </nvd3-pie-chart>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 32%" align="center">
            <h4>Quality Score by Quality KPI</h4>
            <nvd3-discrete-bar-chart data="kpiData"
                                     id="kpiData"
                                     tooltipcontent="toolTipContentFunction()"
                                     Width="300"
                                     height="250"
                                     showlabels="true"
                                     showValues="true"
                                     showYAxis="true"
                                     tooltips="true">
                <svg></svg>
            </nvd3-discrete-bar-chart>
        </td>
    </tr>
   <tr>
        <td style="border: solid; width: 32%" align="center">
            <h4>Assigned Cases per Person Pie Chart</h4>
            <nvd3-pie-chart data="assignedData"
                            id="assignedData"
                            x="xFunction()"
                            y="yFunction()"
                            Width="300"
                            height="250"
                            showlabels="true"
                            showValues="true"
                            labeltype="value"
                            pieLabelsOutside="false"
                            tooltips="true"
                            tooltipcontent="toolTipContentFunction1()">

                <svg></svg>
            </nvd3-pie-chart>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 65%" colspan="3" valign="top">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 320px;"></div>
        </td>
    </tr>
</table>


</body>
</html>
