<html>
<head>
    <title></title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>-->
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <script src="../../../assets/libs/angularjs/angular-resource.js"></script>

    <!-- you don't need ignore=notused in your code, this is just here to trick the cache -->
    <script src="../../../assets/libs/angularjs/angular-grid.js?ignore=notused5"></script>
    <script src="../../../assets/libs/Chart.js"></script>
    <script src="../../../assets/libs/angularjs/angular-chart.js"></script>

    <link href="../../../assets/css/angular.grid.css?ignore=notused5" rel="stylesheet" />
    <link href="../../../assets/css/theme-fresh.css?ignore=notused5" rel="stylesheet" />
    <link href="../../../assets/css/angular-chart.css" rel="stylesheet" />
    <script src="managerDashboardController.js"></script>

</head>
<body ng-app="managerDashboard" ng-controller="managerDashboardController">


<table style="border: none; width: 95%">
    <tr>
        <td style="border: solid; width: 100%" colspan="5">
            <div style="background-color: black; color: white; height: 150px; text-align: center; padding-top: 70px">
                <!--<canvas id="Canvas1" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>-->
                <h2>Production Output past 30 days Bar chart</h2>
            </div>
        </td>
    </tr>

    <tr>
        <td style="width: 100%" colspan="5">
            <br/>
        </td>
    </tr>

    <tr>
        <td style="border: solid; width: 34%">
            <div style="background-color: black; color: white; height: 150px; width: 100%; text-align: center; padding-top: 70px">
                <!--<canvas id="Canvas2" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>-->
                <h2>Reviews by Status</h2>
            </div>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 34%">
            <div style="background-color: black; color: white; height: 150px; text-align: center; padding-top: 70px">
                <!--<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>-->
                <h2>Aging Pie Chart</h2>
            </div>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 30%">
            <div style="background-color: black; color: white; height: 150px; text-align: center; padding-top: 70px">
                <!--<canvas id="Canvas3" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>-->
                <h2>Quality Score by Quality KPI</h2>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 100%" colspan="5">
            <br/>
        </td>
    </tr>
    <tr>
        <td style="border: solid; width: 34%">
            <div style="background-color: black; color: white; height: 150px; width: 100%; text-align: center; padding-top: 70px">
                <!--<canvas id="Canvas4" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>-->
                <h2>Assigned Cases per Person Pie Chart</h2>
            </div>
        </td>
        <td style="width: 1%"></td>
        <td style="border: solid; width: 65%" colspan="3" valign="top">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 150px;"></div>
        </td>
    </tr>
</table>


</body>
</html>
