<!DOCTYPE html>
<html ng-app="riskCanvasApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../../assets/js/d3.js"></script>
    <script src="../../../assets/js/nv.d3.js"></script>
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <link href="../../../assets/css/nv.d3.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link href="../../../assets/css/vis.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import jQuery before materialize.js-->
    <!-- Application Dependencies -->
    <script src="../../../assets/libs/angularjs/angular.js"></script>
    <script src="../../../assets/libs/angularjs/angular-vis.js"></script>
    <script src="../../../assets/libs/angularjs/angular-ui-router.js"></script>
    <script src="../../../assets/js/angularjs-nvd3-directives.js"></script>
    <script src="../../../assets/libs/angularjs/angular-grid.js?ignore=notused5"></script>
    <script src="../../../assets/js/vis.js"></script>
    <script src="../../../assets/libs/googleAnalytics.js"></script>
    <script src="../../../assets/libs/analytics.js"></script>
    <!-- Application Scripts -->
    <!--<script src="app/shared/header/headerController.js"></script>-->

    
    <script src="nodeController.js"></script>
    <!-- Application Css -->
    <link href="../../../assets/css/angular.grid.css?ignore=notused5" rel="stylesheet" />
    <link href="../../../assets/css/theme-fresh.css?ignore=notused5" rel="stylesheet" />

</head>
<body ng-controller="RiskDnaCtrl">

 
    <vis-network data="data" options="options"></vis-network>
    
</body>
</html>